.search-bar{
  max-width: 620px;

  mat-icon{
    top: 50%;
    margin-top: -12px;

    &.left-icon{
      margin-left: 15px;
    }

    &.right-icon{
      right: 0;
      margin-right: 15px;
    }
  }

  .form-control{
    height: calc(2em + .75rem + 2px);
    border: 1px solid #DFE1E5;
    transition: all ease 0.2s;
    border-radius: 50px;

    &:focus, &:hover, &.active{
      border: 1px solid white;
      box-shadow: 1px 2px 5px 0px #D3D3D3;
    }
  }
}
