<div class="search-bar position-relative text-gray">
  <mat-icon class="position-absolute d-none d-md-block left-icon">search</mat-icon>
  <input #searchInput (input)="searchBarService.applyFilter($event.target.value)" type="text" class="form-control pl-5" [class.active]="searchInput.value" placeholder="Hľadaj v aplikácii">
  <mat-icon *ngIf="searchInput.value" (click)="resetSearch(searchInput)" class="position-absolute d-none d-md-block right-icon cursor-pointer text-dark">close</mat-icon>
</div>
