<div *ngIf="invoice" class="mb-5">
  <div class="row mb-4">
    <div class="col mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <mat-icon routerLink="/document/invoice" class="mr-2 mr-md-5 cursor-pointer">keyboard_backspace</mat-icon>
          <div class="d-flex align-items-center">
            <div>
              <h1 class="mb-0">{{invoice.title}}</h1>
              <p>Číslo faktúry: {{invoice.number}}</p>
            </div>
          </div>
        </div>
        <div>
          <button [routerLink]="['/invoice/edit', invoice.id]" mat-icon-button matTooltip="Upraviť faktúru">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="pdf(invoice.id, invoice.title)" mat-icon-button matTooltip="Stiahnuť PDF">
            <mat-icon>save_alt</mat-icon>
          </button>

          <app-document-destroy-button redirectUrl="/invoice" tooltip="Vymazať faktúru" destroyMsg="Faktúra bola vymazaná" [id]="invoice.id" [service]="invoiceService"></app-document-destroy-button>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" class="menu-not-rounded">
            <button *ngIf="invoice.documentType === 'PROFORMA'" mat-menu-item [routerLink]="['/invoice/create', 'INVOICE', invoice.id]">
              <span>Vystaviť ostrú faktúru</span>
            </button>

            <button *ngIf="canCreateTaxDocument && invoice.documentType === 'PROFORMA'" mat-menu-item [routerLink]="['/invoice/create', 'TAX_DOCUMENT', invoice.id]">
              <span>Daňový doklad k prijatej platbe</span>
            </button>

            <button *ngIf="invoice.documentType === 'TAX_DOCUMENT'" mat-menu-item [routerLink]="['/invoice/create', 'SUMMARY_INVOICE', invoice.id]">
              <span>Vystaviť vyúčtovaciu faktúru</span>
            </button>

            <button mat-menu-item (click)="pdf(invoice.id, invoice.title)">
              <span>Stiahnuť PDF</span>
            </button>

            <button mat-menu-item (click)="sendEmail(invoice)">
              <span>Poslať na email</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-md-12">
          <app-payments (canCreateTaxDocument)="canCreateTaxDocument = $event" [isPay]="invoice.paymentDate != null" [dueAtDays]="invoice.dueAtDays" [documentId]="invoice.id" [documentType]="invoice.documentType" [price]="invoice.totalPrice"></app-payments>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Súhrnné info</h2>
    </div>

    <div class="col-md-3">
      <p class="mb-0">Predmet:</p>

      <h3 class="text-dark"><strong>{{invoice.subject ? invoice.subject : (invoice.project ? invoice.project.title : '')}}</strong></h3>
    </div>

    <div class="col-md-3">
      <p class="mb-0">Dodávateľ:</p>

      <h3 class="text-dark"><strong>{{invoice.documentData.firm.name}}</strong></h3>
      <p class="mb-3">
        {{invoice.documentData.firm.street}}
        <br>
        {{invoice.documentData.firm.city + ' ' + invoice.documentData.firm.postalCode}}
        <br>
        {{invoice.documentData.firm.country}}
      </p>

      <p>
        <b class="text-dark">IČO:</b> {{invoice.documentData.firm.cin}} <br>
        <b class="text-dark">DIČ:</b> {{invoice.documentData.firm.tin}} <br>
        <b class="text-dark">IČ DPH:</b> {{invoice.documentData.firm.vatin}} <br>
      </p>

      <p>
        <b class="text-dark">Banka:</b> {{invoice.documentData.bankAccount.bankName}} <br>
        <b class="text-dark">Účet(IBAN):</b> {{invoice.documentData.bankAccount.iban}}<br>
        <b class="text-dark">VS:</b> {{invoice.variableSymbol}} <br>
      </p>
    </div>

    <div class="col-md-3">
      <p class="mb-0">Odberateľ:</p>

      <div *ngIf="invoice.documentData.contact">
        <h3 class="text-dark"><strong>{{invoice.documentData.contact.name}}</strong></h3>
        <p class="mb-3">
          {{invoice.documentData.contact.street || '-'}}
          <br>
          {{invoice.documentData.contact.city || '' + ' ' + (invoice.documentData.contact.postalCode || '-')}}
          <br>
          {{invoice.documentData.contact.country || '-'}}
        </p>

        <p>
          <b class="text-dark">IČO:</b> {{invoice.documentData.contact.cin || '-'}} <br>
          <b class="text-dark">DIČ:</b> {{invoice.documentData.contact.tin || '-'}} <br>
          <b class="text-dark">IČ DPH:</b> {{invoice.documentData.contact.vatin || '-'}} <br>
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <app-document-relation [documentId]="invoice.id"></app-document-relation>
    </div>

    <div class="col-12 mt-2">
      <h2 class="border-bottom-2 pb-2 mb-4">Dátumy</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum dodania:</p>
      <h3 class="text-dark"><b>{{invoice.deliveredDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum vystavenia:</p>
      <h3 class="text-dark"><b>{{invoice.createdDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum splatnosti:</p>
      <h3 class="text-dark"><b>{{invoice.dueDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Položky</h2>
    </div>

    <div class="col-12">
      <div class="table-scroll table-data">
        <table class="table-hover table-data table-borderless w-100">
          <thead>
          <tr>
            <th class="text-left white-space-nowrap">Názov položky</th>
            <th class="text-center white-space-nowrap">Počet</th>
            <th class="text-center white-space-nowrap">MJ</th>
            <th class="text-right white-space-nowrap">Jedn. cena <span appShowHideTax>bez DPH</span></th>
            <th class="text-center white-space-nowrap" appShowHideTax>Dph %</th>
            <th class="text-right white-space-nowrap" appShowHideTax>Jedn. cena s DPH</th>
            <th class="text-right white-space-nowrap">Celkom <span appShowHideTax>s DPH</span></th>
          </tr>
          </thead>
          <tbody *ngFor="let pack of invoice.packs">
          <tr class="pack-row">
            <td class="text-left font-weight-bold" style="white-space: nowrap">
              {{pack.title}}
            </td>
            <td class="text-center font-weight-bold">

            </td>
            <td class="text-center font-weight-bold">

            </td>
            <td class="text-right font-weight-bold">
              {{pack.price | currency:'EUR':'symbol'}}
            </td>
            <td class="text-center font-weight-bold" style="white-space: nowrap" appShowHideTax>
              {{pack.customPrice ? pack.tax + ' %' : ''}}
            </td>
            <td class="text-right font-weight-bold" appShowHideTax>
              {{pack.totalPrice | currency:'EUR':'symbol'}}
            </td>
            <td class="text-right font-weight-bold">
              {{pack.totalPrice | currency:'EUR':'symbol'}}
            </td>
          </tr>
          <ng-template [ngIf]="pack.showItems">
            <ng-container *ngFor="let item of pack.packItems">
              <tr class="table-item">
                <td class="text-left" style="white-space: nowrap">
                  {{item.title}}
                </td>
                <td class="text-center">
                  {{!pack.customPrice ? item.qty : ''}}
                </td>
                <td class="text-center">
                  {{!pack.customPrice ? item.unit : ''}}
                </td>
                <td class="text-right">
                  {{!pack.customPrice ? (item.price | currency:'EUR':'symbol') : ''}}
                </td>
                <td class="text-center" style="white-space: nowrap" appShowHideTax>
                  {{!pack.customPrice ? (item.tax + ' %') : ''}}
                </td>
                <td class="text-right" appShowHideTax>
                  {{!pack.customPrice ? (item.price | addPercent: item.tax | currency:'EUR':'symbol') : ''}}
                </td>
                <td class="text-right">
                  {{!pack.customPrice ? (item.totalPrice | currency:'EUR':'symbol') : ''}}
                </td>
              </tr>
              <tr class="table-item" *ngIf="item.discount > 0">
                <td class="text-left" colspan="3" style="white-space: nowrap">
                  Zľava {{item.discount}} %
                </td>
                <td class="text-right">
                  {{+(item.price | removePercent: item.discount) - +item.price | currency:'EUR':'symbol'}}
                </td>
                <td></td>
                <td
                  class="text-right">{{(+(item.totalPrice | removePercent: item.discount) - +item.totalPrice) | number:'1.0-2'}}
                  &euro;
                </td>
                <td
                  class="text-right">{{(+(item.totalPrice | removePercent: item.discount) - +item.totalPrice) | number:'1.0-2'}}
                  &euro;
                </td>
              </tr>
            </ng-container>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 mt-4">
      <h2 class="border-bottom-2 pb-2 mb-4">Doplňujúce informácie</h2>
    </div>

    <div class="col-12">
      <div class="col-md-12 col-lg-5 offset-lg-7">
        <table class="table-summary no-bg-change mt-4 pr-3 w-100">
          <tr class="row-summary">
            <td class="text-right">
              <p>Zľava {{invoice.discount}} % </p>
            </td>
            <td class="text-right">
              <p>{{invoice.discount > 0 ? '-' : ''}}{{invoice.discount > 0 && invoice.discount != null ? (((invoice.totalPrice | addPercent: invoice.discount) - invoice.totalPrice).toFixed(2) | currency:'EUR':'symbol')  : 0 | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" *ngFor="let tax of documentHelper.taxResult" appShowHideTax>
            <td class="text-right">
              <p>Základ pre DPH {{tax.tax}} %:</p>
              <p>Výška DPH {{tax.tax}} %:</p>
            </td>
            <td class="text-right">
              <p>{{tax.price | removePercent: invoice.discount | currency:'EUR':'symbol'}}</p>
              <p>{{tax.totalPrice - tax.price | removePercent: invoice.discount | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" *ngIf="['TAX_DOCUMENT', 'SUMMARY_INVOICE'].includes(invoice.documentType)">
            <td class="text-right">
              <p>Uhradená záloha:</p>
            </td>
            <td class="text-right">
              <p class="tex">{{invoice.totalPrice | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" appShowHideTax>
            <td class="text-right ">
              <p class="white-space-nowrap">Celkom bez DPH:</p>
            </td>
            <td class="text-right">
              <p>{{invoice.price | removePercent: invoice.discount | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" *ngIf="invoice.documentType === 'TAX_DOCUMENT'">
            <td class="text-right">
              <p>Celkom <span appShowHideTax>s DPH</span>:</p>
            </td>
            <td class="text-right">
              <p class="tex">{{invoice.totalPrice | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" *ngIf="invoice.documentType === 'TAX_DOCUMENT'">
            <td class="text-right">
              <h1 class="text-theme font-weight-bold">Suma na úhradu:</h1>
            </td>
            <td class="text-right">
              <h1 class="text-theme font-weight-bold">{{0 | removePercent: invoice.discount | currency:'EUR':'symbol'}}</h1>
            </td>
          </tr>

          <tr class="row-summary" *ngIf="invoice.documentType != 'TAX_DOCUMENT'">
            <td class="text-right">
              <h1 class="text-theme font-weight-bold">Celkom <span appShowHideTax>s DPH</span>:</h1>
            </td>
            <td class="text-right">
              <h1 class="text-theme font-weight-bold">{{invoice.totalPrice | removePercent: invoice.discount | currency:'EUR':'symbol'}}</h1>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
