<div *ngIf="godButtonService.menuItem.length === 0; else godButtonMenu">
  <button *ngIf="godButtonService.title != null" mat-raised-button class="text-white btn-icon god-button" (click)="navigate()">
    <mat-icon>add</mat-icon>
    <span>{{godButtonService.title}}</span>
  </button>
</div>

<ng-template #godButtonMenu>
  <button [matMenuTriggerFor]="menu" *ngIf="godButtonService.title != null" mat-raised-button class="text-white btn-icon god-button">
    <mat-icon>add</mat-icon>
    <span>{{godButtonService.title}}</span>
  </button>

  <mat-menu #menu="matMenu">
    <button [routerLink]="menu.link" class="border-radius-0" mat-menu-item *ngFor="let menu of godButtonService.menuItem">
      {{menu.title}}
    </button>
  </mat-menu>
</ng-template>
