.item-row {
  &.cdk-drag-preview {
    padding: 15px 0 0 15px;
    background: white !important;
  }
}

.table-wrap {
  padding-top: 90px;
}
:root > .row {
  background: red;
}
.mt-top {
  margin-top: -70px;
}