<div class="row">
  <div class="col-12" [formGroup]="formGroup">
    <div class="table-wrap no-border" formArrayName="packs" cdkDropList (cdkDropListDropped)="dropPack($event)">
      <table class="table-hover table-hover-gray table-data table-borderless w-100 mat-table" cdkDrag [formGroupName]="i" *ngFor="let pack of formPacks.controls; let i=index" >
        <tbody class="no-border">
          <tr class="tbody-row set-row">
            <td>
              <a
                cdkDragHandle
                class="mr-3"
                mat-icon-button
                matTooltip="Reorder pack">
                <mat-icon class="text-theme">drag_indicator</mat-icon>
              </a>
              <a
                (click)="showHidePackItems(i)"
                cdkDragHandle
                class="mr-3"
                mat-icon-button
                matTooltip="{{documentHelper.packs[i].showItems ? 'Hide' : 'Show'}} items in pack">
                <mat-icon class="text-theme">{{documentHelper.packs[i].showItems ? 'visibility' : 'visibility_off'}}</mat-icon>
              </a>
              <app-pack-autocomplete (findPack)="setPack(i, pack, $event)" formControlName="title"></app-pack-autocomplete>
            </td>
            <td colspan="3" class="thin">
              <mat-checkbox #checkbox formControlName="customPrice">Určiť cenu</mat-checkbox>
            </td>
            <td class="thin">
              <mat-form-field  class="w-100">
                <input type="number" matInput [attr.disabled]="!checkbox.checked ? true : null" formControlName="price" placeholder="Jednotková cena" value="{{documentHelper.packs[i].price}}" class="text-right">
              </mat-form-field>
            </td>
            <td class="thin" appShowHideTax>
              <mat-form-field  class="w-100">
                <input type="number" matInput [attr.disabled]="!checkbox.checked ? true : null" formControlName="tax" placeholder="DPH" class="text-right">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="w-100">
                <input type="number" matInput [attr.disabled]="!checkbox.checked ? true : null" formControlName="totalPrice" placeholder="Celkom" value="{{documentHelper.packs[i].totalPrice}}" class="text-right">
              </mat-form-field>
            </td>
            <td class="text-right thin">
              <a
                (click)="removePack($event, i)"
                mat-icon-button
                matTooltip="Delete item">
                <mat-icon class="text-theme">delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>

        <tbody [hidden]="!documentHelper.packs[i].showItems" class="no-border table-item table-td-initial" formArrayName="packItems" cdkDropList (cdkDropListDropped)="dropItem(i, $event)">
          <tr #trRow class="tbody-row set-row" [formGroupName]="j" *ngFor="let item of pack.get('packItems').controls; let j=index" cdkDrag>
            <td colspan="2" class="text-right">
              <a
                cdkDragHandle
                class="mr-3"
                mat-icon-button
                matTooltip="Reorder item">
                <mat-icon class="text-theme">drag_indicator</mat-icon>
              </a>
              <app-item-autocomplete formControlName="title" (change)="setItemTitle(item, $event.target.value)" (findItem)="setItem(item, $event)"></app-item-autocomplete>

              <div class="jsDiscount" [ngClass]="{'d-none' : item.value.discount == 0}">
                <mat-form-field class="w-100">
                    <input matInput readonly placeholder="Zľava {{item.value.discount}} %" class="text-right" />
                  </mat-form-field>
              </div>
            </td>
            <td class="text-right thin">
              <div>
                <mat-form-field style="width: 65px">
                  <input type="text" [attr.disabled]="checkbox.checked ? true : null" #qty formControlName="qty" placeholder="Počet" matInput>
                </mat-form-field>
              </div>
            </td>
            <td class="thin">
              <div>
                <mat-form-field style="width: 65px">
                  <mat-select [attr.disabled]="checkbox.checked ? true : null" formControlName="unit">
                    <mat-option *ngFor="let option of units" [value]="option.unit">
                      {{ option.unit }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="jsDiscount" [ngClass]="{'d-none' : item.value.discount == 0}">
                <mat-form-field class="w-100">
                  <input matInput [attr.disabled]="checkbox.checked ? true : null" formControlName="discount" #itemDiscount class="text-right" />
                </mat-form-field>
              </div>
            </td>
            <td>
              <div>
                <mat-form-field class="w-100">
                  <input type="number" matInput #price [attr.disabled]="checkbox.checked ? true : null" formControlName="price" placeholder="Jednotková cena" class="text-right" />
                </mat-form-field>
              </div>

              <div class="jsDiscount" [ngClass]="{'d-none' : item.value.discount == 0}">
                <mat-form-field class="w-100">
                    <input type="number" matInput disabled value="{{(itemDiscount.value > 0 && price.value > 0 ? '-' : '') + (+price.value | removePercentGetNumber: +itemDiscount.value)}}" class="text-right" />
                  </mat-form-field>
              </div>
            </td>
            <td class="thin" appShowHideTax>
              <div>
                <mat-form-field class="w-100">
                  <input type="number" matInput #tax [attr.disabled]="checkbox.checked ? true : null" formControlName="tax" placeholder="DPH" class="text-right" />
                </mat-form-field>
              </div>

              <div class="jsSettings d-none" *ngIf="projects">
                <!--// todo vo fakture aj tu sa zbytocne duplicitne vola request na vsetky projekty -->
                <app-new-project-select [projects]="projects" formControlName="project" dropDownPosition="top" [showAddButton]="false"></app-new-project-select>
              </div>
            </td>
            <td>
              <div>
                <mat-form-field class="w-100">
                  <input matInput [attr.disabled]="checkbox.checked ? true : null" value="{{(+qty.value * +price.value | addPercent: +tax.value)}}" placeholder="Celkom" class="text-right" />
                </mat-form-field>
              </div>

              <div class="jsDiscount" [ngClass]="{'d-none' : item.value.discount == 0}">
                <mat-form-field class="w-100">
                    <input matInput disabled value="{{(itemDiscount.value > 0 && price.value > 0 ? '-' : '') + (+price.value * +qty.value | addPercent: tax.value | removePercentGetNumber: +itemDiscount.value)}}" class="text-right" />
                  </mat-form-field>
              </div>

              <div class="jsSettings d-none" *ngIf="categories">
                <app-category-select-group [categoryItemNodes]="categories" formControlName="category"></app-category-select-group>
              </div>
            </td>
            <td class="text-center thin">
              <a
                (click)="showDiscount(trRow)"
                class="mr-3"
                mat-icon-button
                matTooltip="Discount item">
                <mat-icon class="text-theme">local_offer</mat-icon>
              </a>
              <a
                (click)="showMoreOptions(trRow)"
                class="mr-3"
                mat-icon-button
                matTooltip="Setting item">
                <mat-icon class="text-theme">settings</mat-icon>
              </a>
              <button
                (click)="removeItem($event, j, i)"
                mat-icon-button
                matTooltip="Delete item">
                <mat-icon class="text-theme">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-12 text-center mt-3 mb-5">
    <a mat-flat-button class="btn btn-icon btn-theme mr-3" (click)="addItem()">
      <mat-icon>add_circle</mat-icon>
      Položka
    </a>

    <a mat-flat-button class="btn btn-icon btn-theme" (click)="addPack()">
      <mat-icon>create_new_folder</mat-icon>
      Sada položiek
    </a>
  </div>
</div>
