<div class="ng-select-custom position-relative">
  <ng-select class="form-group w-100 disable-arrow mb-0" [dropdownPosition]="dropDownPosition"
    bindLabel="fullTitle" placeholder="Zákazka" [clearable]="false" [searchable]="true" [(ngModel)]="project"
    groupBy="group" (change)="selectProject($event)" [compareWith]="compareWith">
    <ng-option *ngIf="fromComponent === 'cost'" [value]="{id: null, title: 'Firemný náklad'}">
      Firemný náklad
    </ng-option>
    <ng-option *ngIf="fromComponent === 'time'" [value]="{id: null, title: 'Firemný čas'}">
      Firemný čas
    </ng-option>
    <ng-option *ngFor="let project of projects" [value]="project">
      {{ project.fullTitle }}
    </ng-option>
  </ng-select>
  <mat-icon *ngIf="showAddButton" class="text-gray md-f-s position-absolute btn-add" (click)="openDialog()">add
  </mat-icon>
</div>
