<div class="ng-select-custom position-relative">
  <ng-select class="form-group w-100 disable-arrow mb-0"
             [items]="projects"
             bindLabel="fullTitle"
             placeholder="Zákazka"
             [clearable]="false"
             [searchable]="true"
             [(ngModel)]="project"
             (change)="selectProject($event)">
    <ng-template ng-label-tmp let-item="item">
      <span >{{ (item.number ?? '') + ' ' + item.title }}</span>
    </ng-template>
  </ng-select>
  <mat-icon *ngIf="showAddButton" class="text-gray md-f-s position-absolute btn-add" (click)="openDialog()">add</mat-icon>
</div>
