<form (ngSubmit)="submit()" [formGroup]="formGroup" autocomplete="off">
  <div mat-dialog-title class="row mb-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h1 class="mb-0">Poznámka
        <ng-container *ngIf="!this.data?.template">
          - nová šablóna
        </ng-container>
        <ng-container *ngIf="this.data?.type === 'edit'">
          - editácia šablóny
        </ng-container>
      </h1>
      <a mat-icon-button class="close-icon cursor-pointer" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="row mb-3">
      <div class="col-md-12">
        <mat-form-field class="form-group w-100">
          <input matInput placeholder="Názov šablony" formControlName="title">
          <mat-error *ngIf="f.title.errors">Názov profilu je požadovaný</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="form-group w-100 mt-3" *ngIf="!(this.data?.documentType || this.data?.template)">
          <mat-label>Typ dokumentu</mat-label>
          <mat-select formControlName="documentType">
            <mat-option value="INVOICE">Faktúra</mat-option>
            <mat-option value="PROFORMA">Zálohová faktúra</mat-option>
            <mat-option value="PRICE_OFFER">Cenová ponuka</mat-option>
            <mat-option value="COST">Náklady</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <angular-editor placeholder="Poznámka" formControlName="text" [config]="config"></angular-editor>
      </div>
      <div class="col-12">
        <div class="mt-3 mb-3">
          <a class="cursor-pointer text-dark btn-link" (click)="moreOptions = !moreOptions"><b>Možnosti nastavenia správ</b></a>
        </div>
        <div *ngIf="moreOptions" class="box p-3 mb-4">
          <div class="row">
            <div class="col-12 mb-3">
              <p>Do predmetu a do textu emailu môžete vkladať špeciálne slová, ktoré budú pri odosielaní emailu automaticky
                nahradené skutočnými hodnotami prevzatými z príslušnej faktúry:</p>
            </div>

            <div class="col-md-3" *ngFor="let variable of variables">
              <p class="mb-0">{{variable.key}}</p>
              <h3 class="text-dark"><b>{{variable.value}}</b></h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row pb-1">
      <div class="col-md-12 text-right">
        <button mat-dialog-close mat-stroked-button class="btn-icon btn-theme-stroked mr-3" type="button">
          <mat-icon>cancel</mat-icon>
          Zrušiť
        </button>
        <button *ngIf="this.data?.type !== 'show'" mat-flat-button class="btn-icon btn-theme">
          <mat-icon>save</mat-icon>
          Uložiť
        </button>
      </div>
    </div>
  </div>
</form>
