<form [formGroup]="filterForm" class="form-row justify-content-start mt-md-0">
  <div class="col-md-4 col-lg-2" *ngIf="companies && companies.length > 1">
    <ng-select [clearable]="false"
               bindLabel="name"
               placeholder="Spoločnosť"
               formControlName="company"
               class="filter-ng-select">
      <ng-option *ngFor="let company of companies" [value]="company">
        <div class="company-option">
          <div class="img-wrap">
            <img *ngIf="company.logoUrl" [src]="company.logoUrl" size="40" alt="company.name">
          </div>
          <div class="text-wrap">
            {{ company.name }}
          </div>
        </div>
      </ng-option>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="isAdmin && users && users.length > 0">
    <ng-select [items]="users"
               [clearable]="false"
               bindLabel="displayName"
               placeholder="Používateľ"
               formControlName="user"
               class="filter-ng-select">
    </ng-select>
  </div>


  <div class="col-md-4 col-lg-2" *ngIf="contacts && contacts.length > 0 && clientFormControlName === 'Dodávateľ'; else contactSelect">
    <ng-select [items]="contacts"
               [clearable]="false"
               bindLabel="name"
               [placeholder]="clientFormControlName"
               formControlName="contractor"
               class="filter-ng-select">
    </ng-select>
  </div>

  <ng-template #contactSelect>
    <div class="col-md-4 col-lg-2" *ngIf="contacts && contacts.length > 0;">
      <ng-select [items]="contacts"
                 [clearable]="false"
                 bindLabel="name"
                 [placeholder]="clientFormControlName"
                 formControlName="contact"
                 class="filter-ng-select">
      </ng-select>
    </div>
  </ng-template>

  <div class="col-md-4 col-lg-2" *ngIf="projects && projects.length > 0">
    <ng-select [items]="projects"
               [clearable]="false"
               bindLabel="fullTitle"
               placeholder="Zákazka"
               formControlName="project"
               groupBy="group"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="dates && dates.length > 0">
    <ng-select [items]="dates"
               [clearable]="false"
               bindLabel="title"
               placeholder="Dátum"
               formControlName="date"
               groupBy="type"
               class="filter-ng-select">

      <ng-template ng-footer-tmp>
        <div class="cursor-pointer" (click)="monthDateRange()"><span>Od - do</span></div>
      </ng-template>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="categories && categories.length > 0">
    <ng-select [items]="categories"
               [clearable]="false"
               bindLabel="name"
               placeholder="Kategória"
               formControlName="category"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="documentTypes && documentTypes.length > 0">
    <ng-select [items]="documentTypes"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Typ dokumentu"
               formControlName="documentType"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="payedStates && payedStates.length > 0">
    <ng-select [items]="payedStates"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Úhrada"
               formControlName="state"
               class="filter-ng-select">
    </ng-select>
  </div>
</form>

<div class="d-block d-md-flex align-content-center mb-3" *ngIf="isFiltering">
  <mat-chip-list aria-label="Filtering">
    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="users && users.length > 0 && filterForm.get('user').value">
      <mat-icon class="mr-1">person</mat-icon>
      {{filterForm.get('user').value.displayName}}
      <mat-icon (click)="resetFilterValue('user')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="companies && companies.length > 0 && filterForm.get('company').value">
      <mat-icon class="mr-1">account_balance</mat-icon>
      {{filterForm.get('company').value.name}}
      <mat-icon (click)="resetFilterValue('company')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="clientFormControlName === 'Dodávateľ' && contacts && contacts.length > 0 && filterForm.get('contractor').value; else contactChip">
      <mat-icon class="mr-1">person</mat-icon>
      {{filterForm.get('contractor').value.name}}
      <mat-icon (click)="resetFilterValue('contractor')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <ng-template #contactChip>
      <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="contacts && contacts.length > 0 && filterForm.get('contact').value && clientFormControlName === 'Zákazník'">
        <mat-icon class="mr-1">person</mat-icon>
        {{filterForm.get('contact').value.name}}
        <mat-icon (click)="resetFilterValue('contact')" matChipRemove>cancel</mat-icon>
      </mat-chip>
    </ng-template>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="projects && projects.length > 0 && filterForm.get('project').value">
      <mat-icon class="mr-1">layers</mat-icon>
      {{filterForm.get('project').value.title}}
      <mat-icon (click)="resetFilterValue('project')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="dates && dates.length > 0 && filterForm.get('date').value">
      <mat-icon class="mr-1">access_time</mat-icon>
      {{(filterForm.get('date').value.start | date: 'dd.MM.y') + ' - ' + (filterForm.get('date').value.end | date: 'dd.MM.y' )}}
      <mat-icon (click)="resetFilterValue('date')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="categories && categories.length > 0 && filterForm.get('category').value">
      <mat-icon class="mr-1">folder</mat-icon>
      {{filterForm.get('category').value.name}}
      <mat-icon (click)="resetFilterValue('category')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="documentTypes && documentTypes.length > 0 && filterForm.get('documentType').value">
      <mat-icon class="mr-1">insert_drive_file</mat-icon>
      {{filterForm.get('documentType').value | lowercase | translate | titlecase}}
      <mat-icon (click)="resetFilterValue('documentType')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="payedStates && payedStates.length > 0 && filterForm.get('state').value">
      <mat-icon class="mr-1">timelapse</mat-icon>
      {{filterForm.get('state').value | lowercase | translate | titlecase}}
      <mat-icon (click)="resetFilterValue('state')" matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
