<div class="row mb-4">
  <div class="col d-flex align-items-center mb-3 mb-md-5">
    <mat-icon routerLink="/demand" class="mr-2 mr-md-5 cursor-pointer">keyboard_backspace</mat-icon>
    <h1 class="mb-0">Editacia dopytu</h1>
  </div>
</div>

<form autocomplete="off" *ngIf="demand" [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Špeciﬁkácia dopytu</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 form-group">
      <mat-form-field class="form-group w-100">
        <input formControlName="title" matInput placeholder="Názov dopytu">
        <mat-error *ngIf="f.title.errors">Názov dopytu je <strong>pozadovany.</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4 form-group">
      <ng-select class="form-group w-100 mb-0 pb-1" [items]="categories"
                 #select
                 bindLabel="name"
                 placeholder="Kategória"
                 [clearable]="false"
                 formControlName="category">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.name}}</span></div>
        </ng-template>
      </ng-select>
      <mat-error *ngIf="isSubmit && f.category.errors">Kategória je <strong>požadovaná.</strong></mat-error>
    </div>


    <div class="col-md-12 form-group">
      <mat-form-field class="form-group w-100">
        <input formControlName="description" matInput placeholder="Požiadavka">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <mat-select placeholder="Zdroj" formControlName="source">
          <mat-option value="E-mail">
            E-mail
          </mat-option>
          <mat-option value="Web">
            Web
          </mat-option>
          <mat-option value="Online reklama">
            Online reklama
          </mat-option>
          <mat-option value="Telefón">
            Telefón
          </mat-option>
          <mat-option value="Osobný kontak">
            Osobný kontak
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <mat-label>Stav</mat-label>
        <select formControlName="state" matNativeControl>
          <option value="WAITING">Čakajúca</option>
          <option value="APPROVED">Schválená</option>
          <option value="REJECTED">Zamietnutá</option>
        </select>
      </mat-form-field>
    </div>

    <div class="form-group col-md-4">
      <app-select-new-contact formControlName="contact"></app-select-new-contact>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button routerLink="/demand" mat-stroked-button class="btn-icon btn-theme-stroked mr-3">
        <mat-icon>cancel</mat-icon>
        Zrušiť
      </button>
      <button mat-flat-button class="btn-icon btn-theme">
        <mat-icon>save</mat-icon>
        Uložiť
      </button>
    </div>
  </div>
</form>
