<form (ngSubmit)="submit()" [formGroup]="formGroup" autocomplete="off">
  <div class="todo-create-wrap">
    <div class="todo-create-box">
      <div class="todo-title">
        <input #titleInput matInput placeholder="Opíšte túto úlohu" formControlName="title">
      </div>
      <div class="todo-content">
        <div class="row">
          <div class="col-4">
            <p>Priradiť k</p>
          </div>
          <div class="col-8">
            <app-task-chip-select [formGroup]="formGroup" [type]="this.assignees"></app-task-chip-select>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Po dokončení upozorniť</p>
          </div>
          <div class="col-8">
            <app-task-chip-select [formGroup]="formGroup" [type]="this.completion"></app-task-chip-select>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Termín</p>
          </div>
          <div class="col-8">
            <mat-form-field class="form-group w-100">
              <mat-label>Vyberte dátum</mat-label>
              <input formControlName="dueOn" matInput [matDatepicker]="dueOn">
              <mat-datepicker-toggle matSuffix [for]="dueOn"></mat-datepicker-toggle>
              <mat-datepicker #dueOn></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!noteShow">
          <div class="col-4">
            <p>Poznámka</p>
          </div>
          <div class="col-8">
            <div class="cursor-pointer" (click)="addNote($event)">Pridať poznámku</div>
          </div>
        </div>
        <div class="row" *ngIf="noteShow">
          <div class="col-12">
            <mat-form-field class="example-full-width w-100 form-group">
              <textarea matInput placeholder="Poznámka" formControlName="notes"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="button-wrap">
              <button mat-flat-button class="btn-icon btn-theme mr-3">
                <mat-icon>save</mat-icon>
                Pridať úlohu
              </button>
              <button (click)="cancel($event)" mat-stroked-button class="btn-icon btn-theme-stroked" type="button">
                <mat-icon>cancel</mat-icon>
                Zrušiť
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
