<div class="row mt-3" *ngIf="project">
  <div class="col-12">
    <div class="box p-3">
      <h1>{{project.title}}</h1>

      <div class="row">
        <div class="col-md-3">
          <p class="mb-0">Kód projektu:</p>
          <h3 class="text-dark"><b>{{project.number || '-'}}</b></h3>
        </div>

        <div class="col-md-3">
          <p class="mb-0">Klient:</p>
          <h3 class="text-dark"><b>{{project.contact ? project.contact.name : 'Klient nebol priradeny'}} </b></h3>
        </div>

        <div class="col-md-3">
          <p class="mb-0">Miesto:</p>
          <h3 class="text-dark"><b>{{project.address || '-'}} </b></h3>
        </div>

        <div class="col-md-3">
          <p class="mb-0">Rozloha zákazky:</p>
          <h3 class="text-dark"><b>{{project.area || '-'}} </b></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<app-project-chart *ngIf="requestDone===3" [costs]="costs" [invoices]="invoices" [priceOffers]="priceOffers"></app-project-chart>

<div class="row">
  <div class="col-12 mt-3">
    <mat-accordion>
      <mat-expansion-panel class="bg-box">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="w-100 justify-content-between">
              <b>Celková dohodnutá cena (sumár cenových ponúk): {{priceOfferSum | formatPrice}} &euro;</b>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-document-table routerUrl="price-offer"  [documents]="priceOffers" [displayedColumns]="['title', 'createdDate', 'dueDate', 'totalPrice']"></app-document-table>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-box">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="w-100 justify-content-between">
              <b>Fakturácia uhradené: {{invoicePayedSum | formatPrice}} &euro;</b>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-document-table routerUrl="invoice" [documents]="payedInvoices" [displayedColumns]="['title', 'variable', 'createdDate', 'dueDate', 'totalPrice']"></app-document-table>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-box">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="w-100 justify-content-between">
              <b>Fakturácia neuhradené: {{invoiceNotPayedSum | formatPrice}} &euro;</b>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-document-table routerUrl="invoice" [documents]="noPayedInvoices" [displayedColumns]="['title', 'variable', 'createdDate', 'dueDate', 'totalPrice']"></app-document-table>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-box">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="w-100 justify-content-between">
              <b>Náklady uhradené: {{costPayedSum | formatPrice}} &euro;</b>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-document-table  routerUrl="cost" [documents]="payedCost" [displayedColumns]="['title', 'variable', 'createdDate', 'dueDate', 'totalPrice']"></app-document-table>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-box">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="w-100 justify-content-between">
              <b>Náklady neuhradené: {{costNotPayedSum | formatPrice}} &euro;</b>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-document-table routerUrl="cost" [documents]="noPayedCost" [displayedColumns]="['title', 'variable', 'createdDate', 'dueDate', 'totalPrice']"></app-document-table>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-box">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="w-100 justify-content-between">
              <b>Človekohodiny: <span class="mr-3">Summa netto {{projectManHours && projectManHours.sumPriceNetto | formatPrice}} &euro; </span><span>Summa brutto {{ projectManHours && projectManHours.sumPriceBrutto | formatPrice}} &euro;</span></b>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template #noProjectManHorus>
          <div class="loading-shade">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
        <app-project-user-evaluation-table *ngIf="projectManHours; else noProjectManHorus" [userOverviewPrice]="projectManHours.userTimePriceOverviewList"></app-project-user-evaluation-table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
