<div>
  <div class="table-wrap">
    <table mat-table [dataSource]="documents" class="table-hover table-data table-borderless w-100" matSort matSortDisableClear matSortDirection="desc">
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Názov</th>
        <td mat-cell *matCellDef="let element">
          {{element.title}}
          <div [ngSwitch]="element.documentType" class="text-theme">
            <small *ngSwitchCase="'PROFORMA'">Zálohová faktúra</small>
            <small *ngSwitchCase="'TAX_DOCUMENT'">Daňový doklad</small>
            <small *ngSwitchCase="'SUMMARY_INVOICE'">Vyúčtovacia faktúra</small>
          </div>
        </td>
      </ng-container>

      <!-- Variable Column -->
      <ng-container matColumnDef="variable">
        <th mat-header-cell *matHeaderCellDef>Variabilný symbol</th>
        <td mat-cell *matCellDef="let element"> {{element.variableSymbol}} </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>Dátum vystavenia</th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd.MM.y'}} </td>
      </ng-container>

      <!-- DueDate Column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Dátum splatnosti</th>
        <td mat-cell *matCellDef="let element"> {{element.dueDate | date:'dd.MM.y'}} </td>
      </ng-container>

      <!-- TotalPrice Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Suma bez DPH</th>
        <td mat-cell *matCellDef="let element"> {{element.price |  currency:'EUR':'symbol'}}</td>
      </ng-container>

      <!-- TotalPrice Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Suma s DPH</th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice |  currency:'EUR':'symbol'}}</td>
      </ng-container>

      <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
      <tr class="cursor-pointer" [routerLink]="['/' + routerUrl + '/show', row.id]" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
