@import '../../../../assets/css/import/variables';

.avatar {
  height: 40px;
  width: 40px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  cursor: pointer;

  border-radius: 15px !important;
  background: $global-primary-color;
}

span {
  margin-bottom: -8px;
}

.profile-info {
  border-bottom: 2px solid $light-gray;
}

.border-top{
  border-top: 2px solid $medium-gray !important;
}

.default-company{
  color: black !important;
  font-weight: bold !important;
}
