<div class="avatar-wrap text-center cursor-pointer text-light d-flex align-items-center" *ngIf="userService.user" [matMenuTriggerFor]="userMenu">
  <img *ngIf="this.appProfileService.appProfile.logoUrl" [src]="this.appProfileService.appProfile.logoUrl" alt="Company">
  <ngx-avatar [src]="userService.user.photoUrl" size="40" bgColor="#19A5E5" name="{{userService.user.displayName}}" class=""></ngx-avatar>
</div>

<mat-menu #userMenu="matMenu" class="mat-menu-avatar">
  <div *ngIf="user" class="pl-3 pr-5 pt-2 pb-3 d-flex align-items-center profile-info">
    <button mat-icon-button class="bg-theme text-light mr-2">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <div>
      <span class="font-weight-bold d-block">
        {{userService.user.displayName}}
      </span>
      <small class="text-gray">{{userService.user.position}}</small>
    </div>
  </div>
  <div class="menu-item">
    <h5 class="pl-3 pr-3 mt-0 mb-2 pt-3"><b>Môj profil</b></h5>
    <a class="border-radius-0 t-d-n text-dark" mat-menu-item routerLink="/setting/user" *ngxPermissionsOnly="'Settings'">
      <mat-icon>person</mat-icon> Osobné údaje
    </a>
    <a class="border-radius-0 t-d-n text-dark" mat-menu-item routerLink="/setting/profile" *ngxPermissionsOnly="'Settings'">
      <mat-icon>build</mat-icon> Nastavenia
    </a>
  </div>
  <div class="menu-item">
    <a class="border-radius-0 t-d-n text-dark border-top" mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon> Odhlasiť
    </a>
  </div>
</mat-menu>

