<div cdkDropList class="todo-wrap" (cdkDropListDropped)="drop($event)">
  <div class="todo-box" *ngFor="let todo of todos" cdkDrag>
    <mat-checkbox [checked]="todo.checked"
                  [color]="'green'"
                  (change)="checkedTodo($event.checked)">
    </mat-checkbox>
    <div class="todolist-indicator">
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <div class="todo-title" [routerLink]="['/task/show', todo.listId, todo.id]">
      <h3>{{todo.title}}</h3>
    </div>
  </div>
</div>
