<div *ngIf="cost" class="mb-5">
  <div class="row mb-4">
    <div class="col d-flex align-items-center mb-3 mb-md-5">
      <mat-icon routerLink="/cost" class="mr-2 mr-md-5 cursor-pointer">keyboard_backspace</mat-icon>
      <h1 class="mb-0">Detail nákladu</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Základné info</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Názov nákladu:</p>
      <h3 class="text-dark"><b>{{cost.title || '-'}}</b></h3>
    </div>

    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Popis nákladu</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dodávateľ:</p>
      <h3 class="text-dark"><b>{{cost.contact.name}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Zákazka:</p>
      <h3 class="text-dark"><b>{{cost.project.title}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Kategória:</p>
      <h3 class="text-dark"><b>{{cost.category.name}}</b></h3>
    </div>

    <div class="col-md-12">
      <p class="mb-0">Poznámka:</p>
      <h3 class="text-dark"><b>{{cost.note}}</b></h3>
    </div>


    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Označenie nákladu</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Číslo nákladu:</p>
      <h3 class="text-dark"><b>{{cost.number || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Číslo nákladu:</p>
      <h3 class="text-dark"><b>{{cost.variableSymbol || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Číslo nákladu:</p>
      <h3 class="text-dark"><b>{{cost.constantSymbol || '-'}}</b></h3>
    </div>

    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Dátumy</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum vystavenia:</p>
      <h3 class="text-dark"><b>{{cost.createdDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum dodania:</p>
      <h3 class="text-dark"><b>{{cost.deliveredDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Slatnosť:</p>
      <h3 class="text-dark"><b>{{cost.dueDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Súbory nákladu</h2>
    </div>

    <div class="col-12">
      <app-file [files]="cost.files"></app-file>
    </div>
  </div>
</div>
