<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-3">
      <app-god-button></app-god-button>
    </div>
    <div class="col-12 pl-0">
      <mat-nav-list>
        <ng-container *ngFor="let link of menuItems">
          <a mat-list-item href="#" [appRolePrivileges]="link.permission"  class="text-gray drawer-link" (click)="linkClick(link)" [routerLink]="link.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon class="mr-2">{{link.icon}}</mat-icon>
            <span>{{link.title}}</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </div>
  </div>
</div>
