<div class="position-relative category-wrap">
  <mat-spinner class="position-absolute centered" *ngIf="isLoadingResults"></mat-spinner>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node"
                   class="checklist-leaf-node position-relative"
                   [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                   (change)="checklistSelection.toggle(node);"
                   draggable="true"
                   (dragstart)="handleDragStart($event, node);"
                   (dragover)="handleDragOver($event, node);"
                   (drop)="handleDrop($event, node);"
                   (dragend)="handleDragEnd($event);"
                   matTreeNodeToggle
                   matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <div class="d-flex align-items-center justify-content-center">
        <div class="icons mr-3 l-h-0" [ngSwitch]="node.categoryType">
          <span *ngSwitchCase="['STUFF_SERVICE_IN_PROJECT_BALANCE', 'SALARY_FOR_PROJECT'].includes(node.categoryType) ? node.categoryType : !node.categoryType">
            <mat-icon>euro_symbol</mat-icon>
            <mat-icon>layers</mat-icon>
          </span>

          <span *ngSwitchCase="['STUFF_SERVICE_IN_OPERATING_COST_COMPANY', 'SALARY_FOR_COMPANY', 'STUFF_SERVICE_FOR_COMPANY'].includes(node.categoryType) ? node.categoryType : !node.categoryType">
            <mat-icon>euro_symbol</mat-icon>
            <mat-icon>work_outline</mat-icon>
          </span>

          <span *ngSwitchCase="'TIME_CAPITAL_IN_PROJECT'">
            <mat-icon>query_builder</mat-icon>
            <mat-icon>layers</mat-icon>
          </span>

          <span *ngSwitchCase="['TIME_NO_CAPITAL_IN_PROJECT', 'TIME_FOR_COMPANY'].includes(node.categoryType) ? node.categoryType : !node.categoryType">
            <mat-icon>query_builder</mat-icon>
            <mat-icon>work_outline</mat-icon>
          </span>

          <span *ngSwitchCase="'TIME_AFTER_PROJECT_END'">
            <mat-icon>query_builder</mat-icon>
            <mat-icon>build_circle</mat-icon>
          </span>

          <span *ngSwitchCase="'STUFF_SERVICE_NOT_IN_COST'">
            <mat-icon>euro_symbol</mat-icon>
            <mat-icon>work_off</mat-icon>
          </span>
        </div>
        {{node.name}}
      </div>
      <ng-container [ngTemplateOutlet]="divIcon" [ngTemplateOutletContext]="{onlyEdit: false, category: node}"></ng-container>
    </mat-tree-node>

<!--    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <input autocomplete="off" matInput #itemValue placeholder="Pridať novú kategóriu...">
      </mat-form-field>
      <button mat-button [disabled]="isStore" (click)="saveNode(node, itemValue.value)">Uložiť</button>
    </mat-tree-node>-->

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                   class="position-relative"
                   [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                   draggable="true"
                   (dragstart)="handleDragStart($event, node);"
                   (dragover)="handleDragOver($event,  node);"
                   (drop)="handleDrop($event, node);"
                   (dragend)="handleDragEnd($event);"
                   (change)="todoItemSelectionToggle(node)"
                   matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
       {{node.name}}
     <!-- <button mat-icon-button (click)="addNewItem(node)">
        <mat-icon>add</mat-icon>
      </button>-->
      <ng-container [ngTemplateOutlet]="divIcon" [ngTemplateOutletContext]="{onlyEdit: true, category: node}"></ng-container>
    </mat-tree-node>
  </mat-tree>
</div>

<span #emptyItem></span>

<ng-template #divIcon let-onlyEdit=onlyEdit let-category=category>
  <div class="not-visible position-absolute" style="right: 0;">
    <button [ngClass]="category.isDeactivated === true ? 'text-danger' : 'text-success'" mat-icon-button *ngIf="!onlyEdit" (click)="activeDeactivateCategory(category)">
      <mat-icon>{{category.isDeactivated ? 'toggle_on' : 'toggle_off'}}</mat-icon>
    </button>

    <button mat-icon-button [routerLink]="['/setting/category/edit', category.id]">
      <mat-icon>edit</mat-icon>
    </button>

    <button *ngIf="!onlyEdit" mat-icon-button (click)="deleteNode(category)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>
