<div class="ng-select-custom position-relative">
  <ng-select class="form-group w-100 disable-arrow mb-0"
             [items]="categoryItemNodes"
             bindLabel="name"
             placeholder="Kategória"
             [clearable]="false"
             [searchable]="true"
             [(ngModel)]="categoryItemNode"
             (change)="selectCategory($event)"
  >
  </ng-select>
  <mat-icon *ngIf="showAddButton" class="text-gray md-f-s position-absolute btn-add" (click)="openDialog()">add</mat-icon>
</div>
