<div class="row mb-3 pb-2">
  <div class="col">
    <h1>Spoločnosti</h1>
  </div>
</div>

<div class="row" *ngIf="companies.length">
  <div class="col-md-4 mb-3" *ngFor="let company of companies">
    <mat-card class="example-card">
      <mat-card-header class="d-flex align-items-center">
        <div mat-card-avatar><ngx-avatar size="40" name="{{company.name}}"></ngx-avatar></div>
        <mat-card-title class="mb-0">{{company.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button class="text-theme" mat-button [routerLink]="['/setting/company/edit', company.id]">Editovať</button>
        <button class="text-dark" mat-button (click)="deleteCompany(company.id)">Zmazat</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
