button, .btn {

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  &.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }


  font-weight: 500;
  outline: none !important;
  border-radius: 25px !important;
  transition: all ease 0.5s;

  &.btn-big{
    padding: 0.7rem .75rem;
  }

  &.btn-icon {
    position: relative;
    padding-left: 45px !important;

    mat-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -10px;
      font-size: 20px;
    }
  }

  &.btn-theme {
    color: white;
    border-color: $global-primary-color !important;
    background-color: $global-primary-color !important;

    &:hover {
      background-color: lighten($global-primary-color, 10%) !important;
    }
  }

  &.btn-theme-stroked {
    color: $global-primary-color;
    border-color: $global-primary-color !important;
  }
  &.btn-theme-warn {
    color: white;
    border-color: #f44336 !important;
    background-color: #f44336 !important;

    &:hover {
      background-color: lighten(#f44336, 10%) !important;
    }
  }
}

.btn-link{
  &:hover{
    text-decoration: underline !important;
  }
}
