/*
* === Text ===
*/
$text-color: (
  'gray' : $theme-gray,
  'theme': $global-primary-color,
  'red-light': $color-red-light,
  'red-dark': $color-red-dark,
  'green-light' : $color-green-light,
  'green-dark' : $color-green-dark
);

@each $color, $value in $text-color {
  .text-#{$color} {
    color: $value !important;
  }
}


/*
* === Bg ===
*/
$bg-colors: (
  'rejected' : $color-danger,
  'waiting': $color-warning,
  'approved': $color-success,
  'theme' : $global-primary-color,
  'red-light': $color-red-light,
  'red-dark': $color-red-dark,
  'green-light' : $color-green-light,
  'green-dark' : $color-green-dark
);

@each $bg, $color in $bg-colors {
  .bg-#{$bg} {
    background: $color !important;
  }
}
