app-invoice-create app-company-select-group,
app-invoice-edit app-company-select-group {
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
}

.ng-select.state-error {
  .ng-select-container .ng-value-container .ng-placeholder {
    color: #f44336;
  }
  .ng-select-container::after {
    border-color: #f44336;
  }
}
