app-invoice-create app-company-select-group,
app-invoice-edit app-company-select-group {
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
}

.ng-select.state-error {
  .ng-select-container .ng-value-container .ng-placeholder {
    color: #f44336;
  }

  .ng-select-container::after {
    border-color: #f44336;
  }
}

.table-show-data {
  tr {
    .table-fixed-col {
      position: sticky;
      left: 0;
      padding: 0;

      & > span {
        background: #fff;
      }
    }

    th {
      &.table-fixed-col {
        border-color: #fff;

        & > span {
          display: block;
          width: 100%;
          padding: 0 10px;
          height: 26px;
        }
      }
    }

    td {
      &.table-fixed-col {
        & > span {
          padding: 10px 10px;
          padding-right: 18px;
          height: 65px;
          box-shadow: inset -1px 0 0 0 #ddd, inset 0px 0 0 0 #ececec;
        }
      }
    }
  }
}

app-overview-cost-yearly {
  .table-show-data tr td.table-fixed-col > span {
    padding: 2px;
    padding-right: 15px;
    display: block;
    height: 50px;
    line-height: 46px;
  }
  .table-show-data tr th.table-fixed-col > span {
    height: 46px;
  }
}


app-company {
  .cdk-drop-list {
    max-width: 500px;
    .mat-focus-indicator {
      margin-left: auto;
      margin-right: 0 !important;
    }
  }
}

.company-indicator {
  margin-left: auto !important;
}

.company-option {
  display: flex;
  align-items: center;
  width: 100%;
  .img-wrap {
    width: 40px;
    padding: 5px 15px;
    padding-left: 0;
  }
  .text-wrap {
    width: calc(100% - 40px);
  }
}

.company-select {
  .ng-placeholder + .ng-value {
    width: 100%;
  }
}
.ng-select-container {

  .company-option .img-wrap {
    width: 30px;
    padding: 0 15px;
    padding-left: 0;
  }
}

app-demand-pack {
  table.table-hover {
    max-width: 1000px;
  }
  & > .row > .col-md-12.text-center {
    max-width: 1000px;
  }
}

app-invoice-filter {
  .filter-ng-select {
    .ng-value-container {
      & > .ng-value {
        width: 100%;
      }
      .img-wrap {
        width: 30px;
        padding: 0;
        padding-right: 10px;
        img {
          width: 20px;
        }
      }
      .text-wrap {
        width: calc(100% - 30px);
      }
    }
  }
}

.demand-price-offer-table {
  padding: 12px 20px;
  max-width: 800px;
  margin-bottom: 50px;

  & > hr {
    margin: 6px 0;
    & + .row {
      padding: 5px 0;
    }
  }
  .row {
    .col-9 {
      & > hr:first-of-type {
        display: none;
      }
      & > hr {
        margin: 6px 0;
      }
    }
  }
  .d-flex {
    align-items: center;
    span {
      &:last-child {
        padding-left: 8px;
      }
    }
  }
  .d-flex {
    align-items: center;
    span {
      &:last-child {
        padding-left: 8px;
      }
    }
  }
}

app-category-tree-control {
  .mat-tree {
    padding-right: 100px;
  }
}

.shared-categories {
  padding-left: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: auto;
  .form-group {
    padding-left: 10px;
  }
}
.shared-categories-items {
  padding-top: 10px;
  h3 {
    font-size: 20px;
    color: #19A5E5;
  }
}

