.mat-two-line {
  span {
    line-height: 20px !important;
  }
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -2px;
  top: -2px;
}

.table-scroll{
  .mat-table{
    background: transparent !important;
  }
}

.mat-icon {
  outline: none;
  &.mat-16 {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.mat-menu-avatar {
  border-radius: 25px !important;
}

.mat-card-image {
  max-width: inherit !important;
}

// material form
.custom-material-form-field {
  .mat-form-field-flex {
    border: 1px solid $global-primary-color;
    border-radius: 25px !important;
    background: transparent !important;
  }

  .mat-form-field-underline {
    display: none !important;
  }
}

.mat-form-field.form-pack-price-offer-create {
  border-color: #e5e5e5;
}

.mat-form-field.fileover {
  border: 1px dashed #e5e5e5;
  padding: 2px 5px;
  background-color: #f9fafb;
  margin: -3px -6px;
  width: calc(100% + 12px) !important;

}
app-upload-files .mat-form-field-appearance-fill.fileover .mat-form-field-flex {
  background-color: #f9fafb;
}

// list item
mat-list-item:hover {
  background: rgba(0, 0, 0, .04);
}

.menu-not-rounded {
  .mat-menu-item {
    border-radius: 0 !important;
  }
}

.mat-snack-bar-container .mat-button {
  color: #19A5E5 !important;
}

/*.mat-table:not(.no-borderless) .mat-row:nth-child(odd) {
  background: none;
}*/

.mat-error-not-in-field {
  position: relative;
  top: -15px;
  font-size: 11px;
}

// category
.category-wrap {
  .mat-icon-button {
    transition: none;
  }

  .mat-tree-node.cdk-tree-node {
    .not-visible {
      visibility: hidden !important;
    }

    &:hover {
      background: #cccccc40 !important;

      .not-visible {
        visibility: visible !important;
      }
    }
  }
}


// form
.option-with-questionnaire {
  .mat-radio-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

app-upload-files {
  display: block;
  width: 100%;

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    position: relative;
  }

  .mat-form-field-infix > .mat-chip-list > .mat-chip-list-wrapper {
    margin-top: 0;
    margin-bottom: -14px;
    padding-right: 35px;
    & > label {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: -20px;
      left: -12px;
      right: -12px;
      bottom: 0;
      margin: auto;
      z-index: 1;
      .mat-icon {
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }

  .mat-chip {
    position: relative;
    z-index: 2;
    .file-size {
      padding-left: 10px;
      color: rgba(0,0,0,.47);
    }
  }
  .mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover ~ .mat-form-field-underline .mat-form-field-ripple {
    opacity: 0;
  }
}
