.mat-two-line {
  span {
    line-height: 20px !important;
  }
}

.mat-icon{
  outline: none;
}

.mat-menu-avatar {
  border-radius: 25px !important;
}

.mat-card-image{
  max-width: inherit !important;
}

.ng-select .ng-select-container .ng-value-container{
  padding: 0 !important;
  border-top: 1em solid transparent;

  .ng-input{
    bottom: 0 !important;
  }
}

.ng-select .ng-select-container{
  min-height: 38.5px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{
  bottom: 4px !important;
}

.ng-select.disable-arrow .ng-arrow-wrapper .ng-arrow {
  display: none;
}

.ng-select.disable-dropdown ng-dropdown-panel {
  display: none;
}

.ng-select.disable-clear-all .ng-clear-wrapper {
  display: none;
}

// material form
.custom-material-form-field{
  .mat-form-field-flex{
    border: 1px solid $global-primary-color;
    border-radius: 25px !important;
    background: transparent !important;
  }

  .mat-form-field-underline{
    display: none !important;
  }
}
