.mat-two-line {
  span {
    line-height: 20px !important;
  }
}

.mat-icon {
  outline: none;
}

.mat-menu-avatar {
  border-radius: 25px !important;
}

.mat-card-image {
  max-width: inherit !important;
}

// material form
.custom-material-form-field {
  .mat-form-field-flex {
    border: 1px solid $global-primary-color;
    border-radius: 25px !important;
    background: transparent !important;
  }

  .mat-form-field-underline {
    display: none !important;
  }
}

// list item
mat-list-item:hover {
  background: rgba(0, 0, 0, .04);
}

.menu-not-rounded {
  .mat-menu-item {
    border-radius: 0 !important;
  }
}

/*.mat-table:not(.no-borderless) .mat-row:nth-child(odd) {
  background: none;
}*/

.mat-error-not-in-field {
  position: relative;
  top: -15px;
  font-size: 11px;
}

// category
.category-wrap {
  .mat-icon-button{
    transition: none;
  }

  .mat-tree-node.cdk-tree-node {
    .not-visible{
      visibility: hidden !important;
    }

    &:hover {
      background: #cccccc40 !important;

      .not-visible {
        visibility: visible !important;
      }
    }
  }
}


// form
.option-with-questionnaire{
  .mat-radio-label-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
