.table-show-data {
  th, td {
    padding: 10px 10px;
    vertical-align: middle;

    &:nth-child(2) {
      min-width: 390px !important;
      padding-left: 340px !important;
    }
  }

  &.table-default{
    th, td{
      width: 70px !important;

      &:nth-child(2) {
        min-width: inherit !important;
        padding-left: inherit !important;
      }
    }
  }

  th {
    font-size: 12px;
    padding: 0 10px 5px 10px;
  }

  td {
    border-top: 1px solid #ddd;
    height: 50px;

    &:not(:first-child) {
      width: 50px;
      min-width: 50px;
      text-align: center;
      padding: 2px;
      border-left: 1px solid #ececec;
      font-size: 10px;
    }
  }

  tbody {
    .row-head {
      border-right: 1px solid #ddd;
    }
  }

  .row-head {
    left: 0;
    background: #fff;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 200px;
    min-width: 200px;
    position: absolute;
    -moz-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
}


table img {
  max-width: 2000px;
}

table tbody td.thin,
table tbody th.thin,
table tfoot td.thin,
table tfoot th.thin {
  width: 0.01% !important;
}

table tbody td.max,
table tbody th.max {
  width: 100% !important;
}

table tbody td.space,
table tbody th.space {
  width: 30px !important;
}

.table-scroll {
  max-width: 100%;
  overflow: auto;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, rgba(0, 0, 0, 0.1), #fff0), linear-gradient(to left, rgba(0, 0, 0, 0.1), #fff0);
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;

  .table-scroller {
    margin-left: 200px;
  }
}

.table-data {
  th, td {
    padding: 8px 15px;
  }

  th:first-child {
    padding-left: 4px !important;
  }

  .pack-row {
    td:first-child {
      padding-left: 4px !important;
    }
  }

  .table-borderless {
    tr {
      box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.2);
    }

    td {
      border: none !important;
    }
  }
}

.table-hover {
  tr {
    &:hover {
      td {
        background-color: rgba(0, 0, 0, .05) !important;
      }
    }
  }
}

.table-wrap {
  overflow-x: auto;
  border-top: 3px solid $global-primary-color;

  .table-item {
    &.table-td-initial {
      td {
        vertical-align: initial;
        padding-top: 20px;
      }
    }
  }

  tbody {
    border-bottom: 3px solid $global-primary-color;
  }

  .table-hover-gray {
    &:hover {
      background-color: rgba(0, 0, 0, .05) !important;
    }
  }

  &.no-border-bottom {
    tbody {
      border-bottom: none !important;
    }
  }

  &.small-border-bottom {
    tbody {
      border-bottom: 1px solid $global-primary-color !important;
    }
  }

  .header-row {
    height: 56px;
  }

  .tbody-row {
    height: 70px;
  }

  //data price-offer-contact-table
  .table-data {
    td, th {
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap !important;
    }

    th:first-child, td:first-child {
      padding-left: 10px;
    }
  }

  //price-offer-contact-table no border
  .table-borderless {
    tr {
      box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.2);
    }

    td {
      border: none !important;
    }
  }

  //flex price-offer-contact-table
  .table-flex {

    th {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
    }

    td {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
    }
  }

  tr {
    button {
      transition: none;
    }

    &:hover {
      .d-none-hover {
        display: none;
      }

      .action-link {
        .invisible {
          visibility: visible !important;
        }
      }
    }
  }
}
