<div class="container d-flex align-items-center h-100">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-theme">404</h1>

      <h2 class="text-dark">Oops, that page can’t be found.</h2>

      <p class="text-grey">Well, that's a bummer... but it's probably... like... the internet is broken or something</p>

      <button routerLink="/paginate/time" mat-stroked-button class="mat-stroked-button mt-5">
        Čas
      </button>
    </div>
    <div class="col-md-4 text-center">
      <img class="mb-5" src="assets/img/illustration/undraw_page_not_found_re_e9o6.svg" alt="login">
    </div>
  </div>
</div>
