<form [formGroup]="formGroup" action="" autocomplete="off" (ngSubmit)="onSubmit(formGroup.value)">
  <div class="row mb-4">
    <div class="col d-flex align-items-center mb-3" [class.justify-content-between]="dialogRef">
      <h1 class="mb-0">Vytvorenie novej kategórie</h1>
      <a *ngIf="dialogRef" mat-icon-button class="close-icon cursor-pointer" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-12">
      <mat-form-field class="w-100">
        <mat-label>Skupina kategórie</mat-label>
        <select formControlName="categoryGroup" matNativeControl>
          <option value="COMPANY">Firma</option>
          <option value="COMPANY">Zákazky</option>
          <option value="SALARY">Mzdy</option>
        </select>
      </mat-form-field>
    </div>


    <div class="col-md-12 mb-4">
      <mat-radio-group *ngIf="formGroup.get('categoryGroup').value === 'COMPANY'" aria-label="Select an option" class="form-group" formControlName="categoryType">
        <mat-radio-button class="mr-4" value="SERVICE">Tovar / služba</mat-radio-button>
        <mat-radio-button class="mr-4" value="TIME">Časový záznam</mat-radio-button>
        <mat-radio-button value="NOT_INCLUDED">Nezahrnuté</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="formGroup.get('categoryGroup').value === 'PROJECT'" aria-label="Select an option" class="form-group" formControlName="categoryType">
        <mat-radio-button class="mr-4" value="SERVICE">Tovar / služba</mat-radio-button>
        <mat-radio-button class="mr-4" value="TIME">Časový záznam</mat-radio-button>
        <mat-radio-button class="mr-4" value="MAIN_TIME">Časové záznamy hlavných činností</mat-radio-button>
        <mat-radio-button class="mr-4" value="SECONDARY_TIME">Časové záznamy vedľajších činností</mat-radio-button>
        <mat-radio-button class="mr-4" value="AFTER_END_TIME">Časové záznamy vedľajších činností</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="formGroup.get('categoryGroup').value === 'SALARY'" aria-label="Select an option" class="form-group" formControlName="categoryType">
        <mat-radio-button class="mr-4" value="SALARY">Mzdy prevádzka firmy</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-12" *ngIf="categories">
      <ng-select [items]="categories"
                 #select
                 bindLabel="name"
                 bindValue="id"
                 placeholder="Rodičovnská kategória"
                 formControlName="parentId">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.name}}</span></div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-12">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Návoz kategórie" formControlName="name" required>
        <mat-error *ngIf="formGroup.invalid">Návoz kategórie</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <div *ngIf="dialogRef === null; else dialogProject">
        <button routerLink="/setting/category" mat-stroked-button class="btn-icon btn-theme-stroked mr-3">
          <mat-icon>cancel</mat-icon>
          Zrušiť
        </button>
        <button mat-flat-button class="btn-icon btn-theme">
          <mat-icon>save</mat-icon>
          Uložiť
        </button>
      </div>

      <ng-template #dialogProject>
        <button (click)="close()" mat-stroked-button class="btn-icon btn-theme-stroked">
          <mat-icon>save</mat-icon>
          Uložiť
        </button>
      </ng-template>
    </div>
  </div>
</form>
