<div class="d-block d-md-flex justify-content-end">
  <div class="d-block d-md-flex">
    <form [formGroup]="filterForm">
      <mat-form-field size="small" appearance="fill" color="primary" class="custom-material-form-field">
        <mat-label>Stav</mat-label>
        <mat-select formControlName="state">
          <mat-option value="WAITING">Čakajúca</mat-option>
          <mat-option value="APPROVED">Schválená</mat-option>
          <mat-option value="REJECTED">Zamietnutá</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>

<div class="d-block d-md-flex align-content-center" *ngIf="isFiltering">
  <p class="mb-2 mb-md-0 d-md-inline mr-3">Filtre: </p>
  <mat-chip-list aria-label="Filtering">
    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="filterForm.get('state').value">
      <mat-icon class="mr-1">timelapse</mat-icon>
      {{filterForm.get('state').value}}
      <mat-icon (click)="resetFilterValue('state')" matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
