<div *ngIf="priceOffer" class="mb-5">
  <div class="row mb-4">
    <div class="col mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <app-back-button url="/paginate/priceOffers"></app-back-button>
          <div class="d-flex align-items-center">
            <div>
              <h1 class="mb-0">{{priceOffer.title}}</h1>
            </div>
          </div>
        </div>
        <div>
          <button [routerLink]="['/price-offer/edit', priceOffer.id]" mat-icon-button matTooltip="Upraviť cenovú ponuku">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="pdf(priceOffer.id, priceOffer.title)" mat-icon-button matTooltip="Stiahnuť PDF">
            <mat-icon>save_alt</mat-icon>
          </button>

          <app-document-destroy-button redirectUrl="/paginate/price-offer" tooltip="Vymazať cenovú ponuku" destroyMsg="Cenová ponuka bola vymazaná" [id]="priceOffer.id" [service]="priceOfferService"></app-document-destroy-button>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu-not-rounded">
            <button mat-menu-item [routerLink]="['/invoice/create-from-proforma', 'INVOICE', priceOffer.id]">
              <span>Vystaviť ostrú faktúru</span>
            </button>

            <button mat-menu-item [routerLink]="['/invoice/create-from-proforma', 'PROFORMA', priceOffer.id]">
              <span>Vystaviť zálohovú faktúru</span>
            </button>

            <button mat-menu-item [routerLink]="['/invoice/create', 'SUMMARY_INVOICE', priceOffer.id, 'priceOffer']">
              <span>Vystaviť vyúčtovaciu faktúru</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Súhrnné info</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dodávateľ:</p>

      <h3 class="text-dark"><strong>{{priceOffer.documentData.firm.name}}</strong></h3>
      <p class="mb-3">
        {{priceOffer.documentData.firm.street}}
        <br>
        {{priceOffer.documentData.firm.city + ' ' + priceOffer.documentData.firm.postalCode}}
        <br>
        {{priceOffer.documentData.firm.country}}
      </p>

      <p>
        <b class="text-dark">IČO:</b> {{priceOffer.documentData.firm.cin}} <br>
        <b class="text-dark">DIČ:</b> {{priceOffer.documentData.firm.tin}} <br>
        <b class="text-dark">IČ DPH:</b> {{priceOffer.documentData.firm.vatin}} <br>
      </p>

      <p>
        <b class="text-dark">Banka:</b> {{priceOffer.documentData.bankAccount.bankName}} <br>
        <b class="text-dark">Účet(IBAN):</b> {{priceOffer.documentData.bankAccount.iban}}<br>
      </p>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Odberateľ:</p>

      <div *ngIf="priceOffer.documentData.contact">
        <h3 class="text-dark"><strong>{{priceOffer.documentData.contact.name}}</strong></h3>
        <p class="mb-3">
          {{priceOffer.documentData.contact.street}}
          <br>
          {{priceOffer.documentData.contact.city + ' ' + priceOffer.documentData.contact.postalCode}}
          <br>
          {{priceOffer.documentData.contact.country}}
        </p>

        <p>
          <b class="text-dark">IČO:</b> {{priceOffer.documentData.contact.cin}} <br>
          <b class="text-dark">DIČ:</b> {{priceOffer.documentData.contact.tin}} <br>
          <b class="text-dark">IČ DPH:</b> {{priceOffer.documentData.contact.vatin}} <br>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <app-document-relation [demandId]="demandId" [documentId]="priceOffer.id"></app-document-relation>
    </div>

    <div class="col-12 mt-2">
      <h2 class="border-bottom-2 pb-2 mb-4">Dátumy</h2>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum dodania:</p>
      <h3 class="text-dark"><b>{{priceOffer.deliveredDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum vystavenia:</p>
      <h3 class="text-dark"><b>{{priceOffer.createdDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-md-4">
      <p class="mb-0">Dátum splatnosti:</p>
      <h3 class="text-dark"><b>{{priceOffer.dueDate | date:'dd.MM.y' || '-'}}</b></h3>
    </div>

    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Položky</h2>
    </div>

    <div class="col-12">
      <div class="table-scroll table-data">
        <table class="table-hover table-data table-borderless w-100">
          <thead>
          <tr>
            <th class="text-left white-space-nowrap">Názov položky</th>
            <th class="text-center white-space-nowrap">Počet</th>
            <th class="text-center white-space-nowrap">MJ</th>
            <th class="text-right white-space-nowrap">Jedn. cena <span appShowHideTax>bez DPH</span></th>
            <th class="text-center white-space-nowrap" appShowHideTax>Dph %</th>
            <th class="text-right white-space-nowrap" appShowHideTax>Jedn. cena s DPH</th>
            <th class="text-right white-space-nowrap">Celkom <span appShowHideTax>s DPH</span></th>
          </tr>
          </thead>
          <tbody *ngFor="let pack of priceOffer.packs">
          <tr class="pack-row">
            <td class="text-left font-weight-bold" style="white-space: nowrap">
              {{pack.title}}
            </td>
            <td class="text-center font-weight-bold">

            </td>
            <td class="text-center font-weight-bold">

            </td>
            <td class="text-right font-weight-bold">
              {{pack.price | currency:'EUR':'symbol'}}
            </td>
            <td class="text-center font-weight-bold" style="white-space: nowrap" appShowHideTax>
              {{pack.customPrice ? pack.tax + ' %' : ''}}
            </td>
            <td class="text-right font-weight-bold" appShowHideTax>
              {{pack.totalPrice | currency:'EUR':'symbol'}}
            </td>
            <td class="text-right font-weight-bold">
              {{pack.totalPrice | currency:'EUR':'symbol'}}
            </td>
          </tr>

          <ng-template [ngIf]="pack.showItems">
            <ng-container *ngFor="let item of pack.packItems">
              <tr class="table-item">
                <td class="text-left" style="white-space: nowrap">
                  {{item.title}}
                </td>
                <td class="text-center">
                  {{!pack.customPrice ? item.qty : ''}}
                </td>
                <td class="text-center">
                  {{!pack.customPrice ? item.unit : ''}}
                </td>
                <td class="text-right">
                  {{!pack.customPrice ? (item.price | currency:'EUR':'symbol') : ''}}
                </td>
                <td class="text-center" style="white-space: nowrap" appShowHideTax>
                  {{!pack.customPrice ? (item.tax + ' %') : ''}}
                </td>
                <td class="text-right" appShowHideTax>
                  {{!pack.customPrice ? (item.price | addPercent: item.tax | currency:'EUR':'symbol') : ''}}
                </td>
                <td class="text-right">
                  {{!pack.customPrice ? (item.totalPrice | currency:'EUR':'symbol') : ''}}
                </td>
              </tr>
              <tr class="table-item" *ngIf="item.discount > 0">
                <td class="text-left" colspan="3" style="white-space: nowrap">
                  Zľava {{item.discount}} %
                </td>
                <td class="text-right">
                  {{+(item.price | removePercent: item.discount) - +item.price | currency:'EUR':'symbol'}}
                </td>
                <td></td>
                <td
                  class="text-right">{{(+(item.totalPrice | removePercent: item.discount) - +item.totalPrice) | currency:'EUR':'symbol'}}
                </td>
                <td
                  class="text-right">{{(+(item.totalPrice | removePercent: item.discount) - +item.totalPrice) | currency:'EUR':'symbol'}}
                </td>
              </tr>
            </ng-container>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 mt-4">
      <h2 class="border-bottom-2 pb-2 mb-4">Doplňujúce informácie</h2>
    </div>

    <div class="col-12">
      <div class="col-md-4 offset-md-8">
        <table class="table-summary no-bg-change mt-4 pr-3 w-100">
          <tr class="row-summary">
            <td class="text-right">
              <p>Zľava {{priceOffer.discount}} %</p>
            </td>
            <td class="text-right">
              <p>{{priceOffer.discount > 0 ? '-' : ''}}{{priceOffer.discount > 0 && priceOffer.discount != null ? (((priceOffer.totalPrice | addPercent: priceOffer.discount) - priceOffer.totalPrice).toFixed(2) | currency:'EUR':'symbol')  : 0 | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" appShowHideTax>
            <td class="text-right">
              <p>Celkom bez DPH:</p>
            </td>
            <td class="text-right">
              <p>{{priceOffer.price | removePercent: priceOffer.discount | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary" *ngFor="let tax of documentHelper.taxResult" appShowHideTax>
            <td class="text-right">
              <p>Základ pre DPH {{tax.tax}} %:</p>
              <p>Výška DPH {{tax.tax}} %:</p>
            </td>
            <td class="text-right">
              <p>{{tax.price | removePercent: priceOffer.discount | currency:'EUR':'symbol'}}</p>
              <p>{{tax.totalPrice - tax.price | removePercent: priceOffer.discount | currency:'EUR':'symbol'}}</p>
            </td>
          </tr>

          <tr class="row-summary">
            <td class="text-right">
              <h1 class="text-theme font-weight-bold">Celkom <span appShowHideTax>s DPH</span>:</h1>
            </td>
            <td class="text-right">
              <h1 class="text-theme font-weight-bold">{{priceOffer.totalPrice | removePercent: priceOffer.discount | currency:'EUR':'symbol'}}</h1>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="demandId" class="row mt-3">
    <div class="col-md-12 text-right">
      <button mat-stroked-button class="btn-icon btn-theme-stroked mr-3" routerLink="/document/priceOffer">
        <mat-icon>cancel</mat-icon>
        Zrušiť
      </button>
      <button *ngIf="!type" mat-flat-button class="btn-icon btn-theme-warn mr-3" (click)="approve()" type="button">
        <mat-icon>save</mat-icon>
        Uložiť do rozpočtu
      </button>
      <button *ngIf="!type" mat-flat-button class="btn-icon btn-theme mr-3" (click)="approve()" type="button">
        <mat-icon>save</mat-icon>
        Schváliť
      </button>
      <button *ngIf="type" mat-flat-button class="btn-icon btn-theme" (click)="createOrder()" type="button">
        <mat-icon>send</mat-icon>
        Vytvoriť zákazku
      </button>
    </div>
  </div>
</div>
