<div class="row mb-4">
  <div class="col d-flex align-items-center mb-3 mb-md-5">
    <mat-icon routerLink="/task" class="mr-2 mr-md-5 cursor-pointer">keyboard_backspace</mat-icon>
    <h1 class="mb-0">Uprava úlohy</h1>
  </div>
</div>

<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="task">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Špeciﬁkácia ulohy</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 form-group">
      <mat-form-field class="w-100">
        <input formControlName="title" matInput placeholder="Názov ulohy">
        <mat-error *ngIf="f.title.errors">Názov ulohy je <strong>pozadovany.</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <mat-label>Dátum do</mat-label>
        <input formControlName="finishedAt" matInput [matDatepicker]="finishedAt">
        <mat-datepicker-toggle matSuffix [for]="finishedAt"></mat-datepicker-toggle>
        <mat-datepicker #finishedAt></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-4 form-group">
      <mat-form-field class="form-pack-price-offer-create w-100">
        <ngx-mat-file-input  placeholder="Súbory k úlohe" multiple></ngx-mat-file-input>
        <mat-icon matSuffix class="cursor-pointer">image</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-12 form-group">
      <mat-form-field class="form-group w-100">
        <input formControlName="description" matInput placeholder="Popis">
      </mat-form-field>
    </div>

    <div class="col-md-4 form-group">
      <ng-select class="form-group w-100" [items]="projects"
                 bindLabel="title"
                 placeholder="Zákazka"
                 [clearable]="false"
                 formControlName="project">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.title}}</span></div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-4 form-group">
      <ng-select class="form-group w-100" [items]="categories"
                 bindLabel="name"
                 placeholder="Kategória"
                 [clearable]="false"
                 formControlName="category">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.name}}</span></div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-4 form-group">
      <ng-select class="form-group w-100" [items]="users"
                 bindLabel="email"
                 placeholder="Osoba"
                 [clearable]="false"
                 formControlName="user">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.email}}</span></div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-6 form-group">
      <mat-form-field class="form-group w-100">
        <input formControlName="completion" matInput placeholder="Dokončenosť">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <mat-label>Stav</mat-label>
        <select formControlName="state" matNativeControl>
          <option value="WAITING">Čakajúca</option>
          <option value="APPROVED">Schválená</option>
          <option value="REJECTED">Zamietnutá</option>
        </select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button routerLink="/task" mat-stroked-button class="btn-icon btn-theme-stroked mr-3">
        <mat-icon>cancel</mat-icon>
        Zrušiť
      </button>
      <button mat-flat-button class="btn-icon btn-theme">
        <mat-icon>save</mat-icon>
        Uložiť
      </button>
    </div>
  </div>
</form>
