<div class="table-project-budget">
  <div class="position-relative table-scroll table-data">
    <table class="table-hover table-data table-borderless w-100" *ngIf="budgetPacksOverview.length > 0">
      <thead>
      <tr>
        <th class="td-checkbox"></th>
        <th class="text-left white-space-nowrap">Názov položky</th>
        <th class="text-center white-space-nowrap">Počet</th>
        <th class="text-center white-space-nowrap">MJ</th>
        <th class="text-right white-space-nowrap">Jedn. cena <span appShowHideTax>bez DPH</span></th>
        <th class="text-center white-space-nowrap" appShowHideTax>Dph %</th>
        <th class="text-right white-space-nowrap" appShowHideTax>Jedn. cena s DPH</th>
        <th class="text-right white-space-nowrap">Celkom <span appShowHideTax>s DPH</span></th>
        <th class="text-right white-space-nowrap">Nákupná cena celkom bez DPH</th>
        <th class="text-center white-space-nowrap">Marža</th>
        <th class="text-right white-space-nowrap">Bilancia/zisk</th>
      </tr>
      </thead>
      <tbody *ngFor="let pack of budgetPacksOverview">
      <tr class="pack-row">
        <td class="td-checkbox">
          <mat-checkbox class="example-margin" [checked]="pack.allComplete" [indeterminate]="someComplete(pack)"
                        (change)="setAll($event.checked, pack)" (indeterminateChange)="indeterminateChange($event, pack)">
          </mat-checkbox>
        </td>
        <td class="text-left font-weight-bold" style="white-space: nowrap">
          {{pack.title}}
        </td>
        <td class="text-center font-weight-bold">

        </td>
        <td class="text-center font-weight-bold">

        </td>
        <td class="text-right font-weight-bold">
          {{pack.price | currency:'EUR':'symbol'}}
        </td>
        <td class="text-center font-weight-bold" style="white-space: nowrap" appShowHideTax>

        </td>
        <td class="text-right font-weight-bold" appShowHideTax>
          {{pack.totalPrice | currency:'EUR':'symbol'}}
        </td>
        <td class="text-right font-weight-bold">
          {{pack.totalPrice | currency:'EUR':'symbol'}}
        </td>
        <td class="text-right font-weight-bold">{{pack.supplierPrice | currency:'EUR':'symbol'}}</td>
        <td class="text-center font-weight-bold">20%</td>
        <td class="text-right font-weight-bold">{{pack.profitPrice | currency:'EUR':'symbol'}}</td>
      </tr>

      <ng-container *ngFor="let item of pack.budgetPackItemsOverview">
        <tr class="table-item">
          <td class="td-checkbox">
            <mat-checkbox [checked]="item.checked" (change)="changeCheckbox($event, item, pack)">
            </mat-checkbox>
          </td>
          <td class="text-left" style="white-space: nowrap">
            {{item.title}}
          </td>
          <td class="text-center">
            {{!pack.customPrice ? item.qty : ''}}
          </td>
          <td class="text-center">
            {{!pack.customPrice ? item.unit : ''}}
          </td>
          <td class="text-right">
            {{!pack.customPrice ? (item.price | currency:'EUR':'symbol') : ''}}
          </td>
          <td class="text-center" style="white-space: nowrap" appShowHideTax>
            {{!pack.customPrice ? (item.tax + ' %') : ''}}
          </td>
          <td class="text-right" appShowHideTax>
            {{!pack.customPrice ? (item.price | addPercent: item.tax | currency:'EUR':'symbol') : ''}}
          </td>
          <td class="text-right">
            {{!pack.customPrice ? (item.totalPrice | currency:'EUR':'symbol') : ''}}
          </td>
          <td class="text-right">{{item?.item?.itemPrice ? (item.item.itemPrice.price |  currency:'EUR':'symbol') : '-'}}</td>
          <td class="text-center white-space-nowrap">{{(item.marge * 100).toFixed(2)}} %</td>
          <td class="text-right">{{item.profitPrice |  currency:'EUR':'symbol'}}</td>
        </tr>
        <tr class="table-item" *ngIf="item.discount > 0">
          <td class="text-left" colspan="3" style="white-space: nowrap">
            Zľava {{item.discount}} %
          </td>
          <td class="text-right">
            {{+(item.price | removePercent: item.discount) - +item.price | currency:'EUR':'symbol'}}
          </td>
          <td></td>
          <td
            class="text-right">{{(+(item.totalPrice | removePercent: item.discount) - +item.totalPrice) | number:'1.0-2'}}
            &euro;
          </td>
          <td
            class="text-right">{{(+(item.totalPrice | removePercent: item.discount) - +item.totalPrice) | number:'1.0-2'}}
            &euro;
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
