<form [formGroup]="formGroup" action="" autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="row mb-4">
    <div class="col d-flex justify-content-between">
      <h1>Osobné údaje</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-theme border-bottom-2 pb-2 mb-4">Kontaktné údaje</h2>
    </div>
  </div>

  <div class="row align-items-center" *ngIf="user">
    <div class="col-3 col-md-1 mb-3">
      <app-photo-uploader (uploadFinish)="storeUploadPhoto()" [formGroup]="formGroup" path="user" nameAttr="photoUrl" isAvatar="true"></app-photo-uploader>
    </div>

    <div class="col-md-4 col-lg-5 pl-lg-0">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Meno" formControlName="firstName" required>
        <mat-error *ngIf="f.firstName.errors">Meno je <strong>požadované.</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4 col-lg-5">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Priezvisko" formControlName="lastName" required>
        <mat-error *ngIf="f.lastName.errors">Priezvisko je <strong>požadované.</strong></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="E-mail" formControlName="email" required>
        <mat-hint>Email cannot be changed</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Telefón" formControlName="phone">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <ng-select class="form-group w-100 mb-0"
                 [multiple]="true"
                 [items]="roles"
                 bindLabel="name"
                 placeholder="Role"
                 formControlName="roles"
      >
      </ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Ulica" formControlName="street">
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="form-group w-100">
        <input  matInput placeholder="Mesto" formControlName="city">
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="PSČ" formControlName="postalCode">
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <ng-select [items]="countries"
                 #select
                 bindLabel="country"
                 bindValue="country"
                 placeholder="Krajina"
                 formControlName="country">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.country}}</span></div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button mat-flat-button class="btn-icon btn-theme">
        <mat-icon>save</mat-icon>
        Uložiť
      </button>
    </div>
  </div>
</form>
