/*
* === Color ===
*/
/*
* === Fonts ===
*/
/*
* === Grid break ===
*/
@import "~@ng-select/ng-select/themes/material.theme.css";
body {
  font-size: 14px;
  line-height: 24px;
}

h1, .h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

h2, .h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;
}

h3, .h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.md-f-s {
  font-size: 16px;
}

.sm-f-s {
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #757575;
}

h2 {
  color: #19A5E5;
}

/*
* === helper ===
*/
.border-radius-0 {
  border-radius: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-move {
  cursor: move !important;
}

.t-d-n {
  text-decoration: none !important;
}

.border-bottom-2 {
  border-bottom: 2px solid #19A5E5;
}

.no-border {
  border: none !important;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.reset-white-space {
  white-space: inherit !important;
}

.outline-none {
  outline: none !important;
}

.text-underline-hover:hover {
  text-decoration: underline !important;
}

.not-visible {
  visibility: hidden !important;
}

.l-h-0 {
  line-height: 0 !important;
}

/*
* === Grid ===
*/
.w-5 {
  width: 5px !important;
}

.font-size-1 {
  font-size: 1px !important;
}

.w-10 {
  width: 10px !important;
}

.font-size-2 {
  font-size: 2px !important;
}

.w-15 {
  width: 15px !important;
}

.font-size-3 {
  font-size: 3px !important;
}

.w-20 {
  width: 20px !important;
}

.font-size-4 {
  font-size: 4px !important;
}

.w-25 {
  width: 25px !important;
}

.font-size-5 {
  font-size: 5px !important;
}

.w-30 {
  width: 30px !important;
}

.font-size-6 {
  font-size: 6px !important;
}

.w-35 {
  width: 35px !important;
}

.font-size-7 {
  font-size: 7px !important;
}

.w-40 {
  width: 40px !important;
}

.font-size-8 {
  font-size: 8px !important;
}

.w-45 {
  width: 45px !important;
}

.font-size-9 {
  font-size: 9px !important;
}

.w-50 {
  width: 50px !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.w-55 {
  width: 55px !important;
}

.font-size-11 {
  font-size: 11px !important;
}

.w-60 {
  width: 60px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.w-65 {
  width: 65px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.w-70 {
  width: 70px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.w-75 {
  width: 75px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.w-80 {
  width: 80px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.w-85 {
  width: 85px !important;
}

.font-size-17 {
  font-size: 17px !important;
}

.w-90 {
  width: 90px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.w-95 {
  width: 95px !important;
}

.font-size-19 {
  font-size: 19px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.w-105 {
  width: 105px !important;
}

.font-size-21 {
  font-size: 21px !important;
}

.w-110 {
  width: 110px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.w-115 {
  width: 115px !important;
}

.font-size-23 {
  font-size: 23px !important;
}

.w-120 {
  width: 120px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.w-125 {
  width: 125px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.w-130 {
  width: 130px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.w-135 {
  width: 135px !important;
}

.font-size-27 {
  font-size: 27px !important;
}

.w-140 {
  width: 140px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.w-145 {
  width: 145px !important;
}

.font-size-29 {
  font-size: 29px !important;
}

.w-150 {
  width: 150px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.w-155 {
  width: 155px !important;
}

.font-size-31 {
  font-size: 31px !important;
}

.w-160 {
  width: 160px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.w-165 {
  width: 165px !important;
}

.font-size-33 {
  font-size: 33px !important;
}

.w-170 {
  width: 170px !important;
}

.font-size-34 {
  font-size: 34px !important;
}

.w-175 {
  width: 175px !important;
}

.font-size-35 {
  font-size: 35px !important;
}

.w-180 {
  width: 180px !important;
}

.font-size-36 {
  font-size: 36px !important;
}

.w-185 {
  width: 185px !important;
}

.font-size-37 {
  font-size: 37px !important;
}

.w-190 {
  width: 190px !important;
}

.font-size-38 {
  font-size: 38px !important;
}

.w-195 {
  width: 195px !important;
}

.font-size-39 {
  font-size: 39px !important;
}

.w-200 {
  width: 200px !important;
}

.font-size-40 {
  font-size: 40px !important;
}

.w-205 {
  width: 205px !important;
}

.font-size-41 {
  font-size: 41px !important;
}

.w-210 {
  width: 210px !important;
}

.font-size-42 {
  font-size: 42px !important;
}

.w-215 {
  width: 215px !important;
}

.font-size-43 {
  font-size: 43px !important;
}

.w-220 {
  width: 220px !important;
}

.font-size-44 {
  font-size: 44px !important;
}

.w-225 {
  width: 225px !important;
}

.font-size-45 {
  font-size: 45px !important;
}

.w-230 {
  width: 230px !important;
}

.font-size-46 {
  font-size: 46px !important;
}

.w-235 {
  width: 235px !important;
}

.font-size-47 {
  font-size: 47px !important;
}

.w-240 {
  width: 240px !important;
}

.font-size-48 {
  font-size: 48px !important;
}

.w-245 {
  width: 245px !important;
}

.font-size-49 {
  font-size: 49px !important;
}

.w-250 {
  width: 250px !important;
}

.font-size-50 {
  font-size: 50px !important;
}

.min-height-100vh {
  min-height: 100vh;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ng-option-disabled.ng-optgroup.ng-star-inserted {
  text-align: left;
}

mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.logo-wrap {
  width: 256px;
}

@media only screen and (max-width: 576px) {
  .logo-wrap {
    width: inherit;
  }
}
mat-sidenav-container {
  height: calc(100vh - 64px);
}
mat-sidenav-container mat-sidenav {
  width: 256px;
}
mat-sidenav-container mat-sidenav .mat-list-item {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
mat-sidenav-container mat-sidenav .mat-list-item.active {
  color: black !important;
  background: #E1F4FC;
  border-left: 4px solid #19A5E5;
}
mat-sidenav-container mat-sidenav .mat-list-item.active mat-icon {
  margin-left: -4px;
  color: #19A5E5;
}
mat-sidenav-container mat-sidenav .mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 35px;
}
mat-sidenav-container mat-sidenav .mat-list-base .mat-list-item {
  font-size: 14px;
  line-height: 20px;
}

button, .btn {
  font-weight: 500;
  outline: none !important;
  border-radius: 25px !important;
  transition: all ease 0.5s;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
button.spinner:before, .btn.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
button.btn-big, .btn.btn-big {
  padding: 0.7rem 0.75rem;
}
button.btn-icon, .btn.btn-icon {
  position: relative;
  padding-left: 45px !important;
}
button.btn-icon mat-icon, .btn.btn-icon mat-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
}
button.btn-theme, .btn.btn-theme {
  color: white;
  border-color: #19A5E5 !important;
  background-color: #19A5E5 !important;
}
button.btn-theme:hover, .btn.btn-theme:hover {
  background-color: #46b7eb !important;
}
button.btn-theme-stroked, .btn.btn-theme-stroked {
  color: #19A5E5;
  border-color: #19A5E5 !important;
}
button.btn-theme-warn, .btn.btn-theme-warn {
  color: white;
  border-color: #f44336 !important;
  background-color: #f44336 !important;
}
button.btn-theme-warn:hover, .btn.btn-theme-warn:hover {
  background-color: #f77066 !important;
}

.btn-link:hover {
  text-decoration: underline !important;
}

/*
* === Text ===
*/
.text-gray {
  color: #757575 !important;
}

.text-theme {
  color: #19A5E5 !important;
}

.text-yellow {
  color: #F59A22 !important;
}

.text-red-light {
  color: #f4cdc7 !important;
}

.text-red-dark {
  color: #4b330f !important;
}

.text-red-danger {
  color: #D0021B !important;
}

.text-approved {
  color: #70B602 !important;
}

.text-rejected {
  color: #D0021B !important;
}

.text-waiting {
  color: #F59A22 !important;
}

.text-green-light {
  color: #ade2dc !important;
}

.text-green-dark {
  color: #0e5d52 !important;
}

/*
* === Bg ===
*/
.bg-rejected {
  background: #D0021B !important;
}

.bg-red-danger {
  background: #D0021B !important;
}

.bg-unpaid {
  background: #D0021B !important;
}

.bg-yellow {
  background: #F59A22 !important;
}

.bg-waiting {
  background: #F59A22 !important;
}

.bg-approved {
  background: #70B602 !important;
}

.bg-theeme {
  background: #19A5E5 !important;
}

.bg-red-light {
  background: #f4cdc7 !important;
}

.bg-red-dark {
  background: #4b330f !important;
}

.bg-green-light {
  background: #ade2dc !important;
}

.bg-green-dark {
  background: #0e5d52 !important;
}

.bg-theme-gray {
  background: #757575 !important;
}

.bg-light-gray {
  background: #ebebeb !important;
}

.bg-medium-gray {
  background: #d7d7d7 !important;
}

.bg-box {
  background: #f9fafb !important;
}

.mat-two-line span {
  line-height: 20px !important;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -2px;
  top: -2px;
}

.table-scroll .mat-table {
  background: transparent !important;
}

.mat-icon {
  outline: none;
}

.mat-menu-avatar {
  border-radius: 25px !important;
}

.mat-card-image {
  max-width: inherit !important;
}

.custom-material-form-field .mat-form-field-flex {
  border: 1px solid #19A5E5;
  border-radius: 25px !important;
  background: transparent !important;
}
.custom-material-form-field .mat-form-field-underline {
  display: none !important;
}

.mat-form-field.form-pack-price-offer-create {
  border-color: #e5e5e5;
}

.mat-form-field.fileover {
  border: 1px dashed #e5e5e5;
  padding: 2px 5px;
  background-color: #f9fafb;
  margin: -3px -6px;
  width: calc(100% + 12px) !important;
}

app-upload-files .mat-form-field-appearance-fill.fileover .mat-form-field-flex {
  background-color: #f9fafb;
}

mat-list-item:hover {
  background: rgba(0, 0, 0, 0.04);
}

.menu-not-rounded .mat-menu-item {
  border-radius: 0 !important;
}

.mat-snack-bar-container .mat-button {
  color: #19A5E5 !important;
}

/*.mat-table:not(.no-borderless) .mat-row:nth-child(odd) {
  background: none;
}*/
.mat-error-not-in-field {
  position: relative;
  top: -15px;
  font-size: 11px;
}

.category-wrap .mat-icon-button {
  transition: none;
}
.category-wrap .mat-tree-node.cdk-tree-node .not-visible {
  visibility: hidden !important;
}
.category-wrap .mat-tree-node.cdk-tree-node:hover {
  background: #cccccc40 !important;
}
.category-wrap .mat-tree-node.cdk-tree-node:hover .not-visible {
  visibility: visible !important;
}

.option-with-questionnaire .mat-radio-label-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-upload-files {
  display: block;
  width: 100%;
}
app-upload-files .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
}
app-upload-files .mat-form-field {
  width: 100%;
}
app-upload-files .mat-form-field-wrapper {
  position: relative;
}
app-upload-files .mat-form-field-infix > .mat-chip-list > .mat-chip-list-wrapper {
  margin-top: 0;
  margin-bottom: -14px;
  padding-right: 35px;
}
app-upload-files .mat-form-field-infix > .mat-chip-list > .mat-chip-list-wrapper > label {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -20px;
  left: -12px;
  right: -12px;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
app-upload-files .mat-form-field-infix > .mat-chip-list > .mat-chip-list-wrapper > label .mat-icon {
  position: absolute;
  bottom: 0;
  right: 10px;
}
app-upload-files .mat-chip {
  position: relative;
  z-index: 2;
}
app-upload-files .mat-chip .file-size {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.47);
}
app-upload-files .mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover ~ .mat-form-field-underline .mat-form-field-ripple {
  opacity: 0;
}

.table-show-data th, .table-show-data td {
  padding: 10px 10px;
  vertical-align: middle;
}
.table-show-data th:nth-child(2), .table-show-data td:nth-child(2) {
  min-width: 390px !important;
  padding-left: 340px !important;
}
.table-show-data.table-default th, .table-show-data.table-default td {
  width: 70px !important;
}
.table-show-data.table-default th:nth-child(2), .table-show-data.table-default td:nth-child(2) {
  min-width: 50px !important;
  padding-left: inherit !important;
}
.table-show-data th {
  font-size: 12px;
  padding: 0 10px 5px 10px;
}
.table-show-data td {
  border-top: 1px solid #ddd;
  height: 50px;
}
.table-show-data td:not(:first-child) {
  width: 50px;
  min-width: 50px;
  text-align: center;
  padding: 2px;
  border-left: 1px solid #ececec;
  font-size: 10px;
}
.table-show-data tbody .row-head {
  border-right: 1px solid #ddd;
}
.table-show-data .row-head {
  left: 0;
  background: #fff;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

table img {
  max-width: 2000px;
}

table tbody td.thin,
table tbody th.thin,
table tfoot td.thin,
table tfoot th.thin {
  width: 0.01% !important;
}

table tbody td.max,
table tbody th.max {
  width: 100% !important;
}

table tbody td.space,
table tbody th.space {
  width: 30px !important;
}

.table-scroll {
  max-width: 100%;
  overflow: auto;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, rgba(0, 0, 0, 0.1), #fff0), linear-gradient(to left, rgba(0, 0, 0, 0.1), #fff0);
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
.table-scroll .table-scroller {
  margin-left: 200px;
}

.table-data th, .table-data td {
  padding: 8px 15px;
}
.table-data th:first-child {
  padding-left: 4px !important;
}
.table-data .pack-row td:first-child {
  padding-left: 4px !important;
}
.table-data .table-borderless tr {
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.2);
}
.table-data .table-borderless td {
  border: none !important;
}

.table-hover tr:hover td {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.table-wrap {
  overflow-x: auto;
  border-top: 3px solid #19A5E5;
}
.table-wrap .table-item.table-td-initial td {
  vertical-align: initial;
  padding-top: 20px;
}
.table-wrap tbody {
  border-bottom: 3px solid #19A5E5;
}
.table-wrap .table-hover-gray:hover {
  background-color: rgba(0, 0, 0, 0.02) !important;
}
.table-wrap.no-border-bottom tbody {
  border-bottom: none !important;
}
.table-wrap.small-border-bottom tbody {
  border-bottom: 1px solid #19A5E5 !important;
}
.table-wrap .header-row {
  height: 56px;
}
.table-wrap .tbody-row {
  height: 70px;
}
.table-wrap .table-data td, .table-wrap .table-data th {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap !important;
}
.table-wrap .table-data th:first-child, .table-wrap .table-data td:first-child {
  padding-left: 10px;
}
.table-wrap .table-borderless tr {
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.2);
}
.table-wrap .table-borderless td {
  border: none !important;
}
.table-wrap .table-flex th {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
.table-wrap .table-flex td {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
.table-wrap tr button {
  transition: none;
}
.table-wrap tr:hover .d-none-hover {
  display: none;
}
.table-wrap tr:hover .action-link .invisible {
  visibility: visible !important;
}

label {
  margin-bottom: 0;
}

.ng-select-custom mat-icon {
  cursor: pointer;
  position: relative;
  top: 15px;
  left: -15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.apexcharts-legend.position-bottom.apexcharts-align-center, .apexcharts-legend.position-top.apexcharts-align-center {
  padding-top: 20px !important;
}

.apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series {
  align-items: flex-start !important;
}
.apexcharts-legend.position-bottom .apexcharts-legend-series .apexcharts-legend-marker, .apexcharts-legend.position-top .apexcharts-legend-series .apexcharts-legend-marker {
  top: 2px !important;
}

.option-wrap {
  display: flex;
}

.color-0 {
  color: #008ffb;
}

.color-1 {
  color: #00e396;
}

.color-2 {
  color: #feb019;
}

.color-3 {
  color: #ff4560;
}

.ng-select:not(.filter-ng-select) .ng-select-container .ng-value-container {
  padding: 0 !important;
  border-top: 1em solid transparent;
}
.ng-select:not(.filter-ng-select) .ng-select-container .ng-value-container .ng-input {
  bottom: 0 !important;
}

.ng-select:not(.filter-ng-select) .ng-select-container {
  min-height: 38.5px !important;
}

.ng-select:not(.filter-ng-select).ng-select-single .ng-select-container .ng-arrow-wrapper {
  bottom: 4px !important;
}

.ng-select.disable-arrow .ng-arrow-wrapper .ng-arrow {
  display: none;
}

.ng-select.disable-dropdown ng-dropdown-panel {
  display: none;
}

.ng-select.disable-clear-all .ng-clear-wrapper {
  display: none;
}

.filter-ng-select.ng-select-focused .ng-select-container .ng-placeholder, .filter-ng-select.ng-select-opened .ng-select-container .ng-placeholder {
  transform: translateY(-1em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
}
.filter-ng-select.ng-select-focused .ng-select-container .ng-value-container, .filter-ng-select.ng-select-opened .ng-select-container .ng-value-container {
  border-top: 1em solid transparent;
}
.filter-ng-select .ng-select-container {
  border-radius: 25px;
  border: 1px solid #19A5E5;
  padding-left: 15px;
  padding-right: 10px;
}
.filter-ng-select .ng-select-container.ng-has-value .ng-placeholder {
  transform: translateY(-1em) scale(0.75) perspective(100px) translateZ(0.001px);
}
.filter-ng-select .ng-select-container.ng-has-value .ng-value-container {
  border-top: 1em solid transparent;
}
.filter-ng-select .ng-select-container:after {
  border-bottom: none;
}
.filter-ng-select .ng-select-container .ng-value-container {
  border-top: 0.6em solid transparent;
}
.filter-ng-select .ng-select-container .ng-arrow-wrapper {
  bottom: 15px !important;
}
.filter-ng-select .ng-select-container .ng-input {
  padding-left: 15px;
  padding-right: 15px;
}

app-invoice-create app-company-select-group,
app-invoice-edit app-company-select-group {
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
}

.ng-select.state-error .ng-select-container .ng-value-container .ng-placeholder {
  color: #f44336;
}
.ng-select.state-error .ng-select-container::after {
  border-color: #f44336;
}

.table-show-data tr .table-fixed-col {
  position: sticky;
  left: 0;
  padding: 0;
}
.table-show-data tr .table-fixed-col > span {
  background: #fff;
}
.table-show-data tr th.table-fixed-col {
  border-color: #fff;
}
.table-show-data tr th.table-fixed-col > span {
  display: block;
  width: 100%;
  padding: 0 10px;
  height: 26px;
}
.table-show-data tr td.table-fixed-col > span {
  padding: 10px 10px;
  padding-right: 18px;
  height: 65px;
  box-shadow: inset -1px 0 0 0 #ddd, inset 0px 0 0 0 #ececec;
}

app-overview-cost-yearly .table-show-data tr td.table-fixed-col > span {
  padding: 2px;
  padding-right: 15px;
  display: block;
  height: 50px;
  line-height: 46px;
}
app-overview-cost-yearly .table-show-data tr th.table-fixed-col > span {
  height: 46px;
}

app-company .cdk-drop-list {
  max-width: 500px;
}
app-company .cdk-drop-list .mat-focus-indicator {
  margin-left: auto;
  margin-right: 0 !important;
}

.company-indicator {
  margin-left: auto !important;
}

.company-option {
  display: flex;
  align-items: center;
  width: 100%;
}
.company-option .img-wrap {
  width: 40px;
  padding: 5px 15px;
  padding-left: 0;
}
.company-option .text-wrap {
  width: calc(100% - 40px);
}

.company-select .ng-placeholder + .ng-value {
  width: 100%;
}

.ng-select-container .company-option .img-wrap {
  width: 30px;
  padding: 0 15px;
  padding-left: 0;
}

app-demand-pack table.table-hover {
  max-width: 1000px;
}
app-demand-pack > .row > .col-md-12.text-center {
  max-width: 1000px;
}

app-invoice-filter .filter-ng-select .ng-value-container > .ng-value {
  width: 100%;
}
app-invoice-filter .filter-ng-select .ng-value-container .img-wrap {
  width: 30px;
  padding: 0;
  padding-right: 10px;
}
app-invoice-filter .filter-ng-select .ng-value-container .img-wrap img {
  width: 20px;
}
app-invoice-filter .filter-ng-select .ng-value-container .text-wrap {
  width: calc(100% - 30px);
}

.demand-price-offer-table {
  padding: 12px 20px;
  max-width: 800px;
  margin-bottom: 50px;
}
.demand-price-offer-table > hr {
  margin: 6px 0;
}
.demand-price-offer-table > hr + .row {
  padding: 5px 0;
}
.demand-price-offer-table .row .col-9 > hr:first-of-type {
  display: none;
}
.demand-price-offer-table .row .col-9 > hr {
  margin: 6px 0;
}
.demand-price-offer-table .d-flex {
  align-items: center;
}
.demand-price-offer-table .d-flex span:last-child {
  padding-left: 8px;
}
.demand-price-offer-table .d-flex {
  align-items: center;
}
.demand-price-offer-table .d-flex span:last-child {
  padding-left: 8px;
}

app-category-tree-control .mat-tree {
  padding-right: 100px;
}

.shared-categories {
  padding-left: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.shared-categories .form-group {
  padding-left: 10px;
}

.shared-categories-items {
  padding-top: 10px;
}
.shared-categories-items h3 {
  font-size: 20px;
  color: #19A5E5;
}

.budget-contacts-wrap {
  position: sticky;
  bottom: 0;
  left: 0;
  background: #f9fafb;
  padding: 10px 20px;
  z-index: 1;
}

app-select-new-contact .btn-add {
  z-index: 2;
}

.table-wrap .mat-table tr:hover td.action-link {
  position: sticky;
  right: 0;
  z-index: 1;
  background: #e0e0e0 !important;
}

app-demand-pack div.jsSettings app-category-select-group {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
}

.no-click {
  opacity: 0.6;
}
.no-click .mat-form-field {
  pointer-events: none !important;
}

body .mat-tab-body-content {
  overflow: hidden;
}

.new-supplier-dialog .mat-form-field.disabled-field {
  opacity: 0.6;
  pointer-events: none;
}
.new-supplier-dialog .mat-form-field.disabled-field .mat-form-field-underline {
  height: 0;
  background-color: #000;
}
.new-supplier-dialog .mat-form-field:not(.disabled-field) .mat-form-field-underline {
  height: 1px;
  background-color: #000;
}

app-todolist-index .angular-editor-textarea {
  resize: none !important;
}

app-todo-project-guide .mat-card-header .mat-card-title {
  font-size: 16px;
}
app-todo-project-guide .mat-card-header-text {
  margin: 0;
  padding-bottom: 10px;
}
app-todo-project-guide .mat-card-actions {
  margin: 0;
}
app-todo-project-guide .mat-card {
  cursor: pointer;
}
app-todo-project-guide .mat-card > * {
  position: relative;
  z-index: 2;
}
app-todo-project-guide .mat-card:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(45deg, white 70%, rgba(255, 255, 255, 0.8));
  z-index: 1;
}

.todolists-wrap {
  padding-top: 20px;
  max-width: 800px;
}
.todolists-wrap > .todolist-box:first-child {
  margin-top: 0;
}

.todolist-indicator {
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  align-items: center;
}
.todolist-indicator .mat-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
  color: #b9b9b9 !important;
  cursor: move;
}

.todolist-box {
  position: relative;
  margin: 30px 0;
}
.todolist-box > p {
  font-size: 12px;
  padding-left: 52px;
  margin: 0;
}
.todolist-box > p + div {
  position: relative;
}
.todolist-box .todolist-title {
  padding-left: 26px;
  display: inline-flex;
  align-items: center;
}
.todolist-box .todolist-title h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1b6ac9;
  text-decoration: underline;
  margin: 0;
  position: relative;
  padding-left: 6px;
}

.todolist-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todolist-box.cdk-drag-preview {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px !important;
  background: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.todolist-box.cdk-drag-preview .button-wrap,
.todolist-box.cdk-drag-preview .todo-wrap, .todolist-box.cdk-drag-preview > p {
  display: none !important;
}
.todolist-box.cdk-drag-preview .todolist-indicator {
  bottom: 6px;
  margin: auto;
}

.todo-wrap {
  padding: 5px 0 12px;
}

.todolist-box .todolist-title h3 {
  cursor: pointer;
}

.todo-box {
  display: flex;
  position: relative;
  padding: 2px 0;
  padding-left: 30px;
}
.todo-box .todo-title {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.todo-box .todo-title h3 {
  margin-bottom: 0;
  cursor: pointer;
}
.todo-box .todolist-indicator {
  top: 8px;
  left: 0;
}
.todo-box .mat-checkbox {
  padding-top: 3px;
}
.todo-box .mat-checkbox-inner-container {
  width: 22px;
  height: 22px;
}

.mat-checkbox-checked.mat-green .mat-checkbox-background {
  background: #227d4a;
}

.todo-box.cdk-drag-preview {
  background: #E1F4FC;
}

.todo-box.cdk-drag-placeholder {
  opacity: 0;
}

body .mat-checkbox-background,
body .mat-checkbox-frame {
  border-width: 1px;
  border-radius: 4px;
}

.mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.24);
}

.task-detail-wrap {
  max-width: 900px;
}
.task-detail-wrap .task-detail-title {
  border-bottom: 1px solid #ccc;
}
.task-detail-wrap .task-detail-options {
  padding: 26px 0 40px;
  border-bottom: 1px solid #ccc;
}
.task-detail-wrap .task-detail-options .task-row {
  display: flex;
}
.task-detail-wrap .task-detail-options .task-row > div:first-child {
  flex: 0 0 180px;
  max-width: 180px;
  text-align: right;
}
.task-detail-wrap .task-detail-options .task-row > div:last-child {
  padding-left: 20px;
  flex: 0 0 calc(100% - 180px);
  max-width: calc(100% - 180px);
}

.task-detail-title {
  display: flex;
}
.task-detail-title .task-checkbox-wrap {
  flex: 0 0 180px;
  max-width: 180px;
  padding-bottom: 20px;
  text-align: right;
}
.task-detail-title .task-checkbox-wrap .mat-checkbox-inner-container {
  width: 65px;
  height: 65px;
}
.task-detail-title .task-checkbox-wrap .mat-checkbox .mat-checkbox-ripple {
  left: calc(50% - 42px);
  top: calc(50% - 42px);
  height: 85px;
  width: 85px;
}
.task-detail-title .task-checkbox-wrap + div {
  padding-left: 20px;
  flex: 0 0 calc(100% - 180px);
  max-width: calc(100% - 180px);
  padding-bottom: 20px;
}
.task-detail-title .task-checkbox-wrap + div h3 {
  margin: 0;
  font-size: 32px;
  padding-bottom: 20px;
  font-weight: 500;
}

.task-detail-options > .row > .col-4 {
  flex: 0 0 200px;
  max-width: 200px;
  text-align: right;
}
.task-detail-options > .row > .col-8 {
  flex: 0 0 calc(100% - 200px);
  max-width: calc(100% - 200px);
}

.todo-create-wrap .todo-create-box .todo-content > .row > .col-4 {
  flex: 0 0 200px;
  max-width: 200px;
}
.todo-create-wrap .todo-create-box .todo-content > .row > .col-8 {
  flex: 0 0 calc(100% - 200px);
  max-width: calc(100% - 200px);
}

.task-item {
  display: flex;
}
.task-item .task-time {
  flex: 0 0 120px;
  max-width: 120px;
}
.task-item .task-text-wrap {
  padding-left: 20px;
  flex: 0 0 calc(100% - 120px);
  max-width: calc(100% - 120px);
}

.task-comment {
  border-bottom: 1px solid #ccc;
}
.task-comment .task-item {
  padding: 20px 0 12px;
}
.task-comment .task-item .task-text-title h4 {
  font-weight: 900;
  color: #000;
  margin-bottom: 0;
}

.task-add-comment {
  padding-top: 20px;
}
.task-add-comment .task-text .add-comment {
  height: 100%;
  display: flex;
  align-items: center;
}
.task-add-comment .task-text .add-comment .cursor-pointer {
  font-size: 16px;
}
.task-add-comment .button-wrap {
  padding-top: 30px;
}

.task-text-wrap {
  display: flex;
}
.task-text-wrap .task-avatar {
  padding-right: 20px;
}

.create-todolist-box {
  border: 1px solid #ccc;
  padding: 20px 30px;
  max-width: 600px;
}
.create-todolist-box .private-todo-wrap h5 {
  font-size: 15px;
  font-weight: 500;
}
.create-todolist-box .private-todo-wrap .mat-radio-group {
  display: inline-block;
  width: 100%;
  padding: 5px 0 10px;
}
.create-todolist-box .private-todo-wrap .mat-radio-group .mat-radio-button {
  width: 100%;
  margin-bottom: 10px;
}
.create-todolist-box .button-wrap {
  padding-top: 10px;
}

.todo-create-wrap .todo-create-box {
  border: 1px solid #ccc;
  max-width: 600px;
}
.todo-create-wrap .todo-create-box .todo-title {
  border-bottom: 1px solid #ccc;
  padding: 10px 30px 5px;
}
.todo-create-wrap .todo-create-box .todo-title input.mat-input-element {
  height: 30px;
}
.todo-create-wrap .todo-create-box .todo-content {
  padding: 10px 30px 20px;
}
.todo-create-wrap .todo-create-box .todo-content .form-group {
  margin-bottom: 0;
}
.todo-create-wrap .todo-create-box .todo-content .mat-chip .mat-icon {
  position: absolute;
  top: 3px;
  right: 5px;
}
.todo-create-wrap .todo-create-box .todo-content .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  display: none;
}
.todo-create-wrap .todo-create-box .todo-content .row .col-4 {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: right;
}
.todo-create-wrap .todo-create-box .todo-content .row .col-4 p {
  width: 100%;
  margin-bottom: 0;
}
.todo-create-wrap .todo-create-box .cursor-pointer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.54);
}
.todo-create-wrap .todo-create-box .button-wrap {
  padding-top: 20px;
}

.task-edit-detail {
  border: 1px solid #ccc;
  padding: 20px 20px;
}
.task-edit-detail .task-detail-title textarea {
  font-size: 32px;
  line-height: 1.1em;
  border: 0;
  outline: 0;
  padding: 0;
  padding: 5px;
  margin: 0;
}
.task-edit-detail .todo-create-wrap .todo-create-box {
  border: 0;
  max-width: 100%;
}
.task-edit-detail .todo-create-wrap .todo-create-box .todo-content {
  padding: 0;
}
.task-edit-detail .todo-create-wrap .todo-create-box .todo-content .row .col-4 p {
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.87);
}
.task-edit-detail .todo-create-wrap .todo-create-box .todo-title {
  display: none;
}

.task-detail-wrap .task-edit-detail .task-detail-title {
  border-bottom: 0;
}

.todolist-row-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.todolist-row-title .pie-chart {
  width: 28px;
}
.todolist-row-title p {
  padding-left: 36px;
  margin-bottom: 0;
}
.todolist-row-title h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
}
.todolist-row-title + .todolists-wrap {
  padding-left: 8px;
}

.nav-button {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  cursor: pointer;
}

app-todos-box .button-wrap {
  padding-left: 30px;
}
app-todos-box .button-wrap + .todo-wrap {
  padding-top: 10px;
}

.pie-chart {
  width: 21px;
}
.pie-chart svg {
  overflow: hidden;
  border-radius: 50%;
  transform: rotate(-90deg);
}
.pie-chart circle.pie {
  fill: #ffffff00;
  stroke: rgba(45, 165, 98, 0.5);
}
.pie-chart circle.slice {
  fill: #ffffff00;
  stroke: #2da562;
}

app-todolist-show .task-comments-wrap {
  border-top: 1px solid #ccc;
}

.todo-users-wrap .avatar-container {
  width: 20px !important;
  height: 20px !important;
}
.todo-users-wrap .avatar-container .avatar-content {
  font-size: 10px !important;
  line-height: 20px !important;
  height: 20px !important;
}
.todo-users-wrap .d-inline-flex {
  color: #877457;
  white-space: nowrap;
}

/*
* === Element ===
*/
.custom-badge {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: 0.55rem;
  background: #f9fafb !important;
  transition: 0.5s;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/*
* === Shuffle ===
*/
.theme-border-bottom-3 {
  border-bottom: 3px solid #19A5E5;
}

/*
* === Avatar ===
*/
.avatar-photo-edit {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
}
.avatar-photo-edit:hover:before {
  content: url("../img/icon/photo_camera-24px.svg");
  position: absolute;
  text-align: center;
  width: 51px;
  height: 51px;
  margin-left: 2px;
  margin-top: 2px;
  padding-top: 15px;
  border-radius: 50%;
  background: #00000042;
  color: white;
}

/*
* === Photo uploader ===
*/

/*# sourceMappingURL=styles.css.map */
