@import 'import/variables';
@import "import/typografy";
@import "import/global";
@import "import/toolbar";
@import 'import/sidenav';
@import "import/button";
@import "import/color";
@import "import/material";
@import "import/table";
@import "import/form";
@import "import/ngselect";


@import "~@ng-select/ng-select/themes/material.theme.css";

/*
* === Element ===
*/

//badge
.custom-badge{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  border-radius: .55rem;
  background: $color-box !important;
  transition: .5s;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

/*
* === Shuffle ===
*/

.theme-border-bottom-3{
  border-bottom: 3px solid $global-primary-color;
}

/*
* === Avatar ===
*/
.avatar-photo-edit{
  width: 55px;
  height: 55px;
  border-radius: 50%;

  position: relative;

  &:hover:before{
    content: url("../img/icon/photo_camera-24px.svg");
    position: absolute;

    text-align: center;

    width: 51px;
    height: 51px;

    margin-left: 2px;
    margin-top: 2px;

    padding-top: 15px;

    border-radius: 50%;

    background: #00000042;
    color: white;
  }
}
