<div [formGroup]="itemPriceForm">
  <div formGroupName="itemPrice">
    <div class="row">
      <div class="col-md-6">
        <app-select-new-contact formControlName="supplier" placeholder="Dodávateľ"></app-select-new-contact>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form-group w-100">
          <mat-label>Cena platná do</mat-label>
          <input formControlName="priceActualTo" matInput [matDatepicker]="deliveredDate">
          <mat-datepicker-toggle matSuffix [for]="deliveredDate"></mat-datepicker-toggle>
          <mat-datepicker #deliveredDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <h2 class="border-bottom-2 pb-2 mb-4">VOC (nákup)</h2>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="form-group w-100" [ngClass]="{'disabled-field': type === '4'}">
          <input #wholesalePrice [ngModel]="+wholesalePrice.value" matInput placeholder="Cena bez DPH" formControlName="wholesalePrice"
          [value]="type === '4' ? (+price.value | removePercent: +marge.value) : ''" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field class="form-group w-100">
          <input #wholesaleTax matInput placeholder="DPH %" formControlName="wholesaleTax" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="form-group w-100 disabled-field">
          <input matInput placeholder="Cena s DPH €" [value]="+wholesalePrice.value | addPercent: +wholesaleTax.value" type="number">
        </mat-form-field>
      </div>
    </div>
    <h2 class="border-bottom-2 pb-2 mb-4">MOC (doporučený predaj)</h2>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="form-group w-100" [ngClass]="{'disabled-field': type !== '0'}">
          <input #surcharge matInput placeholder="Prirážka %" type="number"
                 [value]="(type === '1' || type === '3' || type === '4') ? (((+price.value - +wholesalePrice.value) / +wholesalePrice.value) * 100).toFixed(2) :
                 (type === '2') ? ((+marge.value * 100) / (100 - +marge.value)).toFixed(2) : ''">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="form-group w-100" [ngClass]="{'disabled-field': !(type === '1' || type === '4')}">
          <input #price [ngModel]="+price.value" formControlName="price" matInput placeholder="Cena bez DPH €"
                 [value]="type === '3' ? ((+wholesalePrice.value + +profit.value) / (1 - +discount.value / 100)) :
                 !(type === '1' || type === '4') ? (+wholesalePrice.value | addPercent: +surcharge.value) : ''" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="form-group w-100">
          <input #tax matInput placeholder="DPH %" formControlName="tax" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="form-group w-100 disabled-field">
          <input matInput placeholder="Cena s DPH €" [value]="+price.value | addPercent: +tax.value" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="form-group w-100" [ngClass]="{'disabled-field': !(type === '2' || type === '4')}">
          <input #marge [ngModel]="+marge.value" matInput placeholder="Marža %" formControlName="marge"
           [value]="!(type === '2' || type === '4') ? (((+price.value - +wholesalePrice.value) / +price.value) * 100).toFixed(2) : ''" type="number">
        </mat-form-field>
      </div>
    </div>
    <h2 class="border-bottom-2 pb-2 mb-4">Predaj (cena po zľave)</h2>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="form-group w-100">
          <input #discount [ngModel]="+discount.value" matInput placeholder="Štandardná zľava" formControlName="discount" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="form-group w-100 disabled-field">
          <input #sellingPrice [ngModel]="+sellingPrice.value" matInput placeholder="Cena bez DPH €" formControlName="sellingPrice"
                 [value]="type === '3' ? (+wholesalePrice.value + +profit.value) : (+price.value | removePercent: +discount.value)" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field class="form-group w-100">
          <input #sellingTax matInput placeholder="DPH %" formControlName="sellingTax" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="form-group w-100 disabled-field">
          <input matInput placeholder="Cena s DPH €" [value]="+sellingPrice.value | addPercent: +sellingTax.value" type="number">
        </mat-form-field>
      </div>

    </div>
    <h2 class="border-bottom-2 pb-2 mb-4">Zisk</h2>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="form-group w-100 disabled-field">
          <input #finalMarge [ngModel]="+finalMarge.value" matInput placeholder="Konečná marža" formControlName="finalMarge"
          [value]="(((+sellingPrice.value - +wholesalePrice.value) / +sellingPrice.value) * 100).toFixed(2)" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="form-group w-100" [ngClass]="{'disabled-field':  type !== '3'}">
          <input #profit [ngModel]="+profit.value" matInput placeholder="Zisk bez dph" formControlName="profit"
          value="{{ type !== '3' ? (+sellingPrice.value - +wholesalePrice.value) : '' }}">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
