<form [formGroup]="filterForm" class="form-row justify-content-start mt-md-0">
  <div class="col-md-4 col-lg-2" *ngIf="companies && companies.length > 1 && inputSearchBarSelectValues.includes('company.id')">
    <ng-select [clearable]="false"
               bindLabel="name"
               placeholder="Spoločnosť"
               formControlName="company"
               class="filter-ng-select company-select">
      <ng-option *ngFor="let company of companies" [value]="company">
        <div class="company-option">
          <div class="img-wrap">
            <img *ngIf="company.logoUrl" [src]="company.logoUrl" size="40" alt="company.name">
          </div>
          <div class="text-wrap">
            {{ company.name }}
          </div>
        </div>
      </ng-option>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="isAdmin && users && users.length > 0 && inputSearchBarSelectValues.includes('user.id')">
    <ng-select [items]="users"
               [clearable]="false"
               bindLabel="displayName"
               placeholder="Používateľ"
               formControlName="user"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="contacts && contacts.length > 0 && inputSearchBarSelectValues.includes('contact.id'); else contractor">
    <ng-select [items]="contacts"
               [clearable]="false"
               bindLabel="name"
               placeholder="Zákazník"
               formControlName="contact"
               class="filter-ng-select">
    </ng-select>
  </div>

  <ng-template #contractor>
    <div class="col-md-4 col-lg-2" *ngIf="contacts && contacts.length > 0 && inputSearchBarSelectValues.includes('contractor.id')">
      <ng-select [items]="contacts"
                 [clearable]="false"
                 bindLabel="name"
                 placeholder="Dodávateľ"
                 formControlName="contractor"
                 class="filter-ng-select">
      </ng-select>
    </div>
  </ng-template>

  <div class="col-md-4 col-lg-2" *ngIf="projects && projects.length > 0 && inputSearchBarSelectValues.includes('project.id')">
    <ng-select [clearable]="false"
               bindLabel="fullTitle"
               placeholder="Zákazka"
               formControlName="project"
               groupBy="group"
               class="filter-ng-select">
      <ng-option [value]="{id: null, title: 'Firemný náklad'}">
        Firemný náklad
      </ng-option>
      <ng-option *ngFor="let project of projects" [value]="project">
        {{ project.fullTitle }}
      </ng-option>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="categoriesGroup && categoriesGroup.length > 0 && inputSearchBarSelectValues.includes('categoryGroup.id')">
    <ng-select [items]="categoriesGroup"
               [clearable]="false"
               bindLabel="name"
               placeholder="Druhy zakaziek"
               formControlName="categoryGroup"
               groupBy="parentName"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="categories && categories.length > 0 && inputSearchBarSelectValues.includes('category.id')">
    <ng-select [items]="categories"
               [clearable]="false"
               bindLabel="name"
               placeholder="Kategória"
               formControlName="category"
               groupBy="parentName"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="dates && dates.length > 0 && inputSearchBarSelectValues.includes('date')">
    <ng-select [items]="dates"
               [clearable]="false"
               bindLabel="title"
               placeholder="Dátum"
               formControlName="date"
               groupBy="type"
               class="filter-ng-select">

      <ng-template ng-footer-tmp>
        <div class="cursor-pointer" (click)="monthDateRange()"><span>Od - do</span></div>
      </ng-template>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="documentTypes && documentTypes.length > 0 && inputSearchBarSelectValues.includes('documentType')">
    <ng-select [items]="documentTypes"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Typ dokumentu"
               formControlName="documentType"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="years && years.length > 0 && inputSearchBarSelectValues.includes('start')">
    <ng-select [items]="years"
               [clearable]="false"
               bindLabel="title"
               placeholder="Začiatok rok"
               formControlName="start"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="years && years.length > 0 && inputSearchBarSelectValues.includes('start')">
    <ng-select [items]="years"
               [clearable]="false"
               bindLabel="title"
               placeholder="Koniec rok"
               formControlName="finish"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="finishStates && finishStates.length > 0 && inputSearchBarSelectValues.includes('finishState')">
    <ng-select [items]="finishStates"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Stav projektu"
               formControlName="finishState"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="projectStatus && projectStatus.length > 0 && inputSearchBarSelectValues.includes('deactivatedState')">
    <ng-select [items]="projectStatus"
               [clearable]="false"
               bindLabel="key"
               bindValue="value"
               placeholder="Status projektu"
               formControlName="deactivatedState"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="payedStates && payedStates.length > 0 && inputSearchBarSelectValues.includes('state')">
    <ng-select [items]="payedStates"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Úhrada"
               formControlName="state"
               class="filter-ng-select">
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="documentRepeated && documentRepeated.length > 0 && inputSearchBarSelectValues.includes('repeated')">
    <ng-select [items]="documentRepeated"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Opakovanie"
               formControlName="repeated"
               class="filter-ng-select">
    </ng-select>
  </div>
</form>

<div class="d-block d-md-flex align-content-center mb-3" *ngIf="isFiltering">
  <mat-chip-list aria-label="Filtering">
    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="users && users.length > 0 && filterForm.get('user').value && inputSearchBarSelectValues.includes('user.id')">
      <mat-icon class="mr-1">person</mat-icon>
      {{filterForm.get('user').value.displayName}}
      <mat-icon (click)="resetFilterValue('user')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="companies && companies.length > 0 && filterForm.get('company').value && inputSearchBarSelectValues.includes('company.id')">
      <mat-icon class="mr-1">account_balance</mat-icon>
      {{filterForm.get('company').value.name}}
      <mat-icon (click)="resetFilterValue('company')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="contacts && contacts.length > 0 && filterForm.get('contact').value && inputSearchBarSelectValues.includes('contact.id')">
      <mat-icon class="mr-1">person</mat-icon>
      {{filterForm.get('contact').value.name}}
      <mat-icon (click)="resetFilterValue('contact')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="contacts && contacts.length > 0 && filterForm.get('contractor').value && inputSearchBarSelectValues.includes('contractor.id')">
      <mat-icon class="mr-1">person</mat-icon>
      {{filterForm.get('contractor').value.name}}
      <mat-icon (click)="resetFilterValue('contractor')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="projects && projects.length > 0 && filterForm.get('project').value && inputSearchBarSelectValues.includes('project.id')">
      <mat-icon class="mr-1">layers</mat-icon>
      {{filterForm.get('project').value.title}}
      <mat-icon (click)="resetFilterValue('project')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="categoriesGroup && categoriesGroup.length > 0 && filterForm.get('categoryGroup').value && inputSearchBarSelectValues.includes('categoryGroup.id')">
      <mat-icon class="mr-1">folder</mat-icon>
      {{filterForm.get('categoryGroup').value.name}}
      <mat-icon (click)="resetFilterValue('categoryGroup')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="categories && categories.length > 0 && filterForm.get('category').value && inputSearchBarSelectValues.includes('category.id')">
      <mat-icon class="mr-1">folder</mat-icon>
      {{filterForm.get('category').value.name}}
      <mat-icon (click)="resetFilterValue('category')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="dates && dates.length > 0 && filterForm.get('date').value && inputSearchBarSelectValues.includes('date')">
      <mat-icon class="mr-1">access_time</mat-icon>
      {{(filterForm.get('date').value.start | date: 'dd.MM.y') + ' - ' + (filterForm.get('date').value.end | date: 'dd.MM.y' )}}
      <mat-icon (click)="resetFilterValue('date')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="documentTypes && documentTypes.length > 0 && filterForm.get('documentType').value && inputSearchBarSelectValues.includes('documentType')">
      <mat-icon class="mr-1">insert_drive_file</mat-icon>
      {{filterForm.get('documentType').value | lowercase | translate | titlecase}}
      <mat-icon (click)="resetFilterValue('documentType')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="years && years.length > 0 && filterForm.get('start').value && inputSearchBarSelectValues.includes('start')">
      <mat-icon class="mr-1">timer</mat-icon>
      Začiatok rok: {{filterForm.get('start').value.start | date: 'y'}}
      <mat-icon (click)="resetFilterValue('start')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="years && years.length > 0 && filterForm.get('finish').value && inputSearchBarSelectValues.includes('finish')">
      <mat-icon class="mr-1">timer</mat-icon>
      Koniec rok: {{filterForm.get('finish').value.start | date: 'y'}}
      <mat-icon (click)="resetFilterValue('finish')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="finishStates && finishStates.length > 0 && (filterForm.get('finishState').value || filterForm.get('finishState').value === false) && inputSearchBarSelectValues.includes('finishState')">
      <mat-icon class="mr-1">timer</mat-icon>
      {{filterForm.get('finishState').value == true ? 'Dokončené' : 'Prebiehajúce'}}
      <mat-icon (click)="resetFilterValue('finishState')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="payedStates && payedStates.length > 0 && filterForm.get('state').value && inputSearchBarSelectValues.includes('state')">
      <mat-icon class="mr-1">timelapse</mat-icon>
      {{filterForm.get('state').value | lowercase | translate | titlecase}}
      <mat-icon (click)="resetFilterValue('state')" matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
