<div class="nav-link">
  <div class="nav-button" [routerLink]="['/task/show', todo.listId]">
    <mat-icon class="mr-2 cursor-pointer">keyboard_backspace</mat-icon>
    Naspäť na úlohy
  </div>
</div>

<div class="task-detail-wrap">
  <div class="task-detail-title" *ngIf="!editTodo">
    <div class="task-checkbox-wrap">
      <mat-checkbox [checked]="todo.checked" [color]="'green'" (change)="checkedTodo($event.checked)">
      </mat-checkbox>
    </div>
    <div>
      <h3 (click)="editButton($event)">{{ todo.title }}</h3>
    </div>
  </div>
  <div class="task-detail-options" *ngIf="!editTodo">
    <div class="row">
      <div class="col-4">
        <strong>Zákazka</strong>
      </div>
      <div class="col-8">
        <p (click)="editButton($event)">206 Byt Zuckermandel AD.08.02</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <strong>Vyberte kategóriu</strong>
      </div>
      <div class="col-8">
        <p (click)="editButton($event)">Architektúra</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <strong>Pridal</strong>
      </div>
      <div class="col-8">
        <p>Marek H. 21. januára</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <strong>Priradený</strong>
      </div>
      <div class="col-8">
        <p (click)="editButton($event)">PeterM</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <strong>Po dokončení upozorniť</strong>
      </div>
      <div class="col-8">
        <p (click)="editButton($event)">Napíšte mená, ktoré chcete upozorniť…</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <strong>Čas</strong>
      </div>
      <div class="col-8">
        <p (click)="editButton($event)">Vyberte dátum…</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <strong>Poznámky</strong>
      </div>
      <div class="col-8">
        <p (click)="editButton($event)">Pridajte ďalšie podrobnosti </p>
      </div>
    </div>
  </div>
  <div class="task-edit-detail" *ngIf="editTodo">
    <div class="task-detail-title">
      <div class="task-checkbox-wrap">
        <mat-checkbox [checked]="todo.checked" [color]="'green'" (change)="checkedTodo($event.checked)">
        </mat-checkbox>
      </div>
      <div>
        <textarea matInput placeholder="Poznámka">{{ todo.title }}</textarea>
      </div>
    </div>
    <app-task-todo-create (action)="todoEdit($event)"></app-task-todo-create>
  </div>
  <div class="task-comments-wrap">
    <div class="task-comment" *ngFor="let comment of comments">
      <div class="task-item">
        <div class="task-time">
          <span>{{ comment.time }}</span>
        </div>
        <div class="task-text-wrap">
          <div class="task-avatar">
            <ngx-avatar [src]="userService.user.photoUrl" size="40" bgColor="#19A5E5"
              name="{{ userService.user.displayName }}" class=""></ngx-avatar>
          </div>
          <div class="task-text">
            <div class="task-text-title">
              <h4>{{ comment.name }}</h4>
            </div>
            <div class="task-text-content">
              <p>{{ comment.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="task-add-comment">
    <div class="task-item">
      <div class="task-time">
      </div>
      <div class="task-text-wrap">
        <div class="task-avatar">
          <ngx-avatar [src]="userService.user.photoUrl" size="40" bgColor="#19A5E5"
            name="{{ userService.user.displayName }}" class=""></ngx-avatar>
        </div>
        <div class="task-text">
          <div class="add-comment" *ngIf="!writeComment">
            <div (click)="addComment($event)" class="cursor-pointer">Pridať komentár</div>
          </div>
          <div *ngIf="writeComment">
            <form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="submit()">
              <angular-editor placeholder="Text komentára" formControlName="comment" [config]="editorConfig">
              </angular-editor>
              <div class="button-wrap">
                <button mat-flat-button class="btn-icon btn-theme mr-3">
                  <mat-icon>save</mat-icon>
                  Pridať komentár
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
