<form [formGroup]="contactForm" action="" autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="row mb-4">
    <div class="col d-flex align-items-center mb-3 mb-md-5" [class.justify-content-between]="dialogRef">
      <mat-icon *ngIf="dialogRef === null" routerLink="/contact" class="mr-2 mr-md-5 cursor-pointer">keyboard_backspace</mat-icon>
      <h1 class="mb-0">Vytvorenie nového kontaktu</h1>
      <a *ngIf="dialogRef" mat-icon-button class="close-icon cursor-pointer" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-3 col-md-2">
      <div class="avatar-photo-edit cursor-pointer jsFile" matTooltip="Nastaviť fotku kontaktu">
        <ngx-avatar size="100%" src="https://ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"></ngx-avatar>
        <input type="file" name='file' (change)="onFileChange($event)" class="d-none">
      </div>
    </div>

    <div class="col-9 col-md-10">
      <app-slovakia-digital-autocomplete [isError]="f.name.errors && f.name.errors.required && isSubmit" formControlName="name" (findFirm)="setFirmData($event)"></app-slovakia-digital-autocomplete>

      <!--<mat-form-field class="form-group w-100">
        <input matInput placeholder="Meno" formControlName="name" required>
        <mat-error *ngIf="contactForm.invalid">Meno je povinné</mat-error>
      </mat-form-field>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Ulica" formControlName="street">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Mesto" formControlName="city">
        <mat-icon matSuffix>room</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <ng-select [items]="countries"
                 #select
                 bindLabel="country"
                 bindValue="country"
                 placeholder="Krajina"
                 formControlName="country">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item.country}}</span></div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="PSČ" formControlName="postalCode">
      </mat-form-field>
    </div>


    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Súpisné č." formControlName="regNumber">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Telefón" formControlName="phone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input  matInput placeholder="IČO" formControlName="cin">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input  matInput placeholder="DIČ" formControlName="tin">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input  matInput placeholder="IČ DPH" formControlName="vatin">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <div *ngIf="dialogRef === null; else dialogContact">
        <button routerLink="/app" mat-stroked-button class="btn-icon btn-theme-stroked mr-3">
          <mat-icon>cancel</mat-icon>
          Zrušiť
        </button>
        <button mat-flat-button class="btn-icon btn-theme">
          <mat-icon>save</mat-icon>
          Uložiť
        </button>
      </div>

      <ng-template #dialogContact>
        <button (click)="dialogRef.close()" mat-stroked-button class="btn-icon btn-theme-stroked mr-3">
          <mat-icon>cancel</mat-icon>
          Zrušiť
        </button>
        <button (click)="close()" mat-stroked-button class="btn-icon btn-theme-stroked">
          <mat-icon>save</mat-icon>
          Uložiť
        </button>
      </ng-template>
    </div>
  </div>
</form>
