
<div class="nav-button" [routerLink]="['/todo']">
  <mat-icon class="mr-2 cursor-pointer">keyboard_backspace</mat-icon>
  Naspäť na výber projektu
</div>
<div class="row">
  <div class="col-12">
    <h1>Zoznam úloh</h1>
  </div>
  <div class="col-12">
    <button *ngIf="!create" (click)="openNewList()" mat-stroked-button class="btn-theme-stroked mr-3">
      Pridať nový zoznam úloh
    </button>
  </div>
</div>
<div *ngIf="create" class="create-todolist">
  <app-todolist-create></app-todolist-create>
</div>
<div cdkDropList class="todolists-wrap" (cdkDropListDropped)="drop($event)">
  <div class="todolist-box" *ngFor="let todolist of todoLists" cdkDrag>
    <p>{{todolist.completeText}} dokončené</p>
    <div>
      <div class="todolist-placeholder" *cdkDragPlaceholder></div>
      <div class="todolist-indicator">
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <div class="todolist-title" [routerLink]="['/todo/show', todolist.id]">
        <app-todo-pie-chart [percent]="todolist.percent"></app-todo-pie-chart>
        <h3>{{ todolist.title }}</h3>
      </div>
      <app-todos-box (action)="todoCreate($event)" [todolist]="todolist"></app-todos-box>
    </div>
  </div>
</div>
