<div class="row">
    <div class="col">
      <h1>Zoznam úloh</h1>
    </div>
  </div>
  <div *ngIf="create" class="create-todolist">
    <div [formGroup]="formGroup" class="create-todolist-box">
      <div class="row">
        <div class="col-12">
          <div class="private-todo-wrap">
            <h5>Kto by mal mať možnosť vidieť tento zoznam úloh?</h5>
            <mat-radio-group formControlName="visibilityType">
              <mat-radio-button [value]="'PRIVATE'">Len náš tím - súkromné</mat-radio-button>
              <mat-radio-button [value]="'PROJECT'">Viditeľné len pre ludí z projektu</mat-radio-button>
              <mat-radio-button [value]="'PUBLIC'">Viditeľné aj pre klientov</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-12">
          <mat-form-field class="w-100">
            <input matInput formControlName="title" type="text" placeholder="Názov zoznamu úloh"/>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="button-wrap">
            <button mat-flat-button class="btn-icon btn-theme mr-3" (click)="createTodolist()" type="button">
              <mat-icon>save</mat-icon>
              Pridať zoznam
            </button>
            <button routerLink="/todo" mat-stroked-button class="btn-icon btn-theme-stroked">
              <mat-icon>cancel</mat-icon>
              Zrušiť
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div cdkDropList class="todolists-wrap" (cdkDropListDropped)="drop($event)">
    <div class="todolist-box" *ngFor="let todolist of todoLists" cdkDrag>
      <p>{{todolist.completeText}} dokončené</p>
      <div>
        <div class="todolist-placeholder" *cdkDragPlaceholder></div>
        <div class="todolist-indicator">
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="todolist-title" [routerLink]="['/todo/show', todolist.id]">
          <app-todo-pie-chart [percent]="todolist.percent"></app-todo-pie-chart>
          <h3>{{ todolist.title }}</h3>
        </div>
        <app-todos-box (action)="todoCreate($event)" [todolist]="todolist"></app-todos-box>
      </div>
    </div>
  </div>
