<div class="mt-3" *ngFor="let budget of budgetOverview">
  <mat-accordion>
    <mat-expansion-panel (opened)="loadData(budget.categoryId, divElement)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{budget.categoryTitle}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-project-budget-pack-table *ngIf="budget.categoryChildrenCount === 1" [budgetPacksOverview]="budget.budgetPacksOverview" [checkboxData]="checkboxData" [checkboxDataSubject]="checkboxDataSubject"></app-project-budget-pack-table>
      <div #divElement></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
