<div mat-dialog-title class="row mb-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h1 class="mb-0">Faktúry zo zákazky {{this.dialogData.element.project?.title}} u ktorých je položka {{this.dialogData.item?.title}}</h1>
      <a mat-icon-button class="close-icon cursor-pointer" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="new-supplier-dialog pb-3">
        <div class="table-wrap">
            <div class="position-relative table-scroll">
              <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              </div>

              <table mat-table [dataSource]="data" class="table-hover table-data table-borderless w-100" *ngIf="displayedColumns">
                <!-- Company Column -->
                <ng-container matColumnDef="company">
                  <th class="text-right" mat-header-cell *matHeaderCellDef></th>
                  <td class="text-right" mat-cell *matCellDef="let element">
                    <ngx-avatar [src]="element.company.logoUrl" size="30" name="{{element.company.name}}"></ngx-avatar>
                  </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="variableSymbol">
                  <th mat-header-cell *matHeaderCellDef> Číslo</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.variableSymbol || '-'}}
                    <div [ngSwitch]="element.documentType" class="text-theme">
                      <small *ngSwitchCase="'PROFORMA'">Zálohová faktúra</small>
                      <small *ngSwitchCase="'TAX_DOCUMENT'">Daňový doklad</small>
                      <small *ngSwitchCase="'SUMMARY_INVOICE'">Vyúčtovacia faktúra</small>
                    </div>
                  </td>
                </ng-container>

                <!-- Client Column -->
                <ng-container matColumnDef="client">
                  <th mat-header-cell *matHeaderCellDef> Klient</th>
                  <td mat-cell
                      *matCellDef="let element"> {{element.contact ? element.contact.name : 'Klient nebol priradeny'}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Projekt</th>
                  <td class="max" mat-cell *matCellDef="let element"> {{element.subject ? element.subject : (element.project?.title || 'Projekt nebol priradeny')}} </td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="created">
                  <th class="text-right" mat-header-cell *matHeaderCellDef> Vytvorené</th>
                  <td class="text-right" mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd.MM.y'}} </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                  <th class="text-right" mat-header-cell *matHeaderCellDef> Suma <span appShowHideTax>bez DPH</span></th>
                  <td class="text-right" mat-cell *matCellDef="let element">{{element.price | removePercent: element.discount | currency:'EUR':'symbol'}}</td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="state">
                  <th class="text-center" mat-header-cell *matHeaderCellDef> Stav</th>
                  <td class="text-right" mat-cell *matCellDef="let element">
                    <app-element-paid-state [isPaid]="element.paymentDate != null" [dueAtDays]="element.dueAtDays" [price]="element.totalPrice" [sumPayments]="element.paymentPrice"></app-element-paid-state>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="cursor-pointer" [routerLink]="['/invoice/show', row.id]"  *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 15, 20, 100]"
                             [length]="totalElements"
                             [pageSize]="pageSize">
              </mat-paginator>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <button mat-dialog-close mat-stroked-button class="btn-icon btn-theme-stroked mr-3" type="button">
          <mat-icon>cancel</mat-icon>
          Zrušiť
        </button>
      </div>
    </div>
  </div>
