<form [formGroup]="filterForm" class="row justify-content-end">
  <div class="col-md-4 col-lg-2 pr-md-0" *ngIf="columnNames.includes('documentType')">
    <ng-select [items]="documentTypes"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Typ dokumentu"
               formControlName="documentType"
               class="filter-ng-select">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div><span>{{item.value}}</span></div>
      </ng-template>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2 pr-md-0" *ngIf="columnNames.includes('state')">
    <ng-select [items]="states"
               [clearable]="false"
               bindLabel="value"
               bindValue="key"
               placeholder="Stav"
               formControlName="state"
               class="filter-ng-select">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div><span>{{item.value}}</span></div>
      </ng-template>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2 pr-md-0" *ngIf="columnNames.includes('contact')">
    <ng-select [items]="contacts"
               [clearable]="false"
               bindLabel="name"
               placeholder="Klient"
               formControlName="contact"
               class="filter-ng-select">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div><span>{{item.name}}</span></div>
      </ng-template>
    </ng-select>
  </div>

  <div class="col-md-4 col-lg-2" *ngIf="columnNames.includes('project')">
    <ng-select [items]="projects"
               [clearable]="false"
               bindLabel="title"
               placeholder="Zákazka"
               formControlName="project"
               class="filter-ng-select">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div><span>{{item.title}}</span></div>
      </ng-template>
    </ng-select>
  </div>
</form>

<div class="d-block d-md-flex align-content-center" *ngIf="isFiltering && columnNames.length">
  <p class="mb-2 mb-md-0 d-md-inline mr-3">Filtre: </p>
  <mat-chip-list aria-label="Filtering">
    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="filterForm.get('documentType').value">
      <mat-icon class="mr-1">insert_drive_file</mat-icon>
      {{filterForm.get('documentType').value | lowercase | translate | titlecase}}
      <mat-icon (click)="resetFilterValue('documentType')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="filterForm.get('state').value">
      <mat-icon class="mr-1">timelapse</mat-icon>
      {{filterForm.get('state').value | lowercase | translate | titlecase}}
      <mat-icon (click)="resetFilterValue('state')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="filterForm.get('contact').value">
      <mat-icon class="mr-1">person</mat-icon>
      {{filterForm.get('contact').value.name}}
      <mat-icon (click)="resetFilterValue('contact')" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <mat-chip class="text-gray my-md-0  mb-md-0" *ngIf="filterForm.get('project').value">
      <mat-icon class="mr-1">layers</mat-icon>
      {{filterForm.get('project').value.title}}
      <mat-icon (click)="resetFilterValue('project')" matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
