<div mat-dialog-title class="row mb-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">Dodávatelia položky</h1>
    <a mat-icon-button class="close-icon cursor-pointer" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>

<div mat-dialog-content>
  <p>Chcem zadať</p>
  <div class="d-flex align-items-center justify-content-between pb-2">
    <mat-radio-group aria-label="Select an option" (change)="setType($event.value)">
      <mat-radio-button value="0" class="mr-3" checked>VOC + Prirážka</mat-radio-button>
      <mat-radio-button value="1" class="mr-3">VOC + MOC</mat-radio-button>
      <mat-radio-button value="2" class="mr-3">VOC + Marža</mat-radio-button>
      <mat-radio-button value="3" class="mr-3">VOC + Zisk</mat-radio-button>
      <mat-radio-button value="4">MOC + Zľava</mat-radio-button>
    </mat-radio-group>
    <mat-slide-toggle [(ngModel)]="priceWithDph">Zadať ceny <span *ngIf="priceWithDph">s</span> <span *ngIf="!priceWithDph">bez</span> DPH</mat-slide-toggle>
  </div>

  <div class="new-supplier-dialog pb-3">
    <div class="w-100 pb-3">
      <div class="mt-3" [formGroup]="formGroup">
        <app-item-price [itemPriceForm]="formGroup" [type]="this.type" [priceWithDph]="priceWithDph"></app-item-price>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button mat-dialog-close mat-stroked-button class="btn-icon btn-theme-stroked mr-3" type="button">
        <mat-icon>cancel</mat-icon>
        Zrušiť
      </button>
      <button (click)="save()" mat-stroked-button class="btn-icon btn-theme">
        <mat-icon>save</mat-icon>
        Uložiť
      </button>
    </div>
  </div>
</div>
