<div mat-dialog-title class="row mb-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">Nastavenie položky rozpočtu</h1>
    <a mat-icon-button class="close-icon cursor-pointer" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>

<div mat-dialog-content>
  <div class="new-supplier-dialog pb-3">
    <div class="w-100 pb-3" [formGroup]="formGroup">
      <app-select-new-contact formControlName="supplier" placeholder="Dodávateľ"></app-select-new-contact>
      <div *ngIf="!f.supplier.value">
        <p class="color-red">Vyberte najskôr dodávateľa</p>
      </div>
      <div class="mt-3">
        <app-item-price [ngClass]="{'no-click' : !f.supplier.value}" [itemPriceForm]="formGroup"></app-item-price>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button mat-dialog-close mat-stroked-button class="btn-icon btn-theme-stroked mr-3" type="button">
        <mat-icon>cancel</mat-icon>
        Zrušiť
      </button>
      <button (click)="save()" mat-stroked-button class="btn-icon btn-theme">
        <mat-icon>save</mat-icon>
        Uložiť
      </button>
    </div>
  </div>
</div>
