<div class="row mt-3">
  <div class="col-md-4">
    <div class="box p-3 mb-3">
      <div class="stat d-flex align-items-start">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>account_balance</mat-icon>
        </button>
        <div class="ml-3">
          <h4 class="mb-0"><b>Kalkulácie</b></h4>
          <h3 class="mb-0">{{priceOfferSum}} &euro;</h3>
        </div>
      </div>
    </div>

    <div class="box p-3 mb-3">
      <div class="stat d-flex align-items-start">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>description</mat-icon>
        </button>
        <div class="ml-3">
          <h4 class="mb-0"><b>Fakturácia uhradené</b></h4>
          <h3 class="mb-0">{{invoicePayedSum}} &euro;</h3>
        </div>
      </div>

      <hr>

      <div class="stat d-flex align-items-start">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>description</mat-icon>
        </button>
        <div class="ml-3">
          <h4 class="mb-0"><b>Fakturácia neuhradené</b></h4>
          <h3 class="mb-0">{{invoiceNotPayedSum}} &euro;</h3>
        </div>
      </div>
    </div>

    <div class="box p-3">
      <div class="stat d-flex align-items-start">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>equalizer</mat-icon>
        </button>
        <div class="ml-3">
          <h4 class="mb-0"><b>Náklady uhradené</b></h4>
          <h3 class="mb-0">{{costPayedSum}} &euro;</h3>
        </div>
      </div>

      <hr>

      <div class="stat d-flex align-items-start">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>equalizer</mat-icon>
        </button>
        <div class="ml-3">
          <h4 class="mb-0"><b>Náklady neuhradené</b></h4>
          <h3 class="mb-0">{{costNotPayedSum}} &euro;</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="box p-3 pb-4">
        <h1 class="pl-3">Stats</h1>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [legend]="chartOptions.legend"
        ></apx-chart>
    </div>
  </div>
</div>
