<h2 class="border-bottom-2 pb-2 mb-4">Poznámka pre príjemcu</h2>
<div class="pb-3">
  <a mat-flat-button class="btn btn-icon text-theme mr-3" (click)="getTemplate()">
    <mat-icon>create_new_folder</mat-icon>
    Vybrať poznámku zo šablóny
  </a>
  <a mat-flat-button class="btn btn-icon text-theme" (click)="addTemplate()">
    <mat-icon>add_circle</mat-icon>
    Pridať novú šablónu
  </a>
</div>
<div [formGroup]="formGroup" class="pb-3">
  <angular-editor placeholder="Poznámka pre príjemcu" formControlName="note" [config]="config"></angular-editor>
</div>
<div class="mb-3">
  <a class="cursor-pointer text-dark btn-link" (click)="moreOptions = !moreOptions"><b>Možnosti nastavenia správ</b></a>
</div>
<div *ngIf="moreOptions" class="box p-3 mb-4">
  <div class="row">
    <div class="col-12 mb-3">
      <p>Do predmetu a do textu emailu môžete vkladať špeciálne slová, ktoré budú pri odosielaní emailu automaticky
        nahradené skutočnými hodnotami prevzatými z príslušnej faktúry:</p>
    </div>

    <div class="col-md-3" *ngFor="let variable of variables">
      <p class="mb-0">{{variable.key}}</p>
      <h3 class="text-dark"><b>{{variable.value}}</b></h3>
    </div>
  </div>
</div>
