<div class="ng-select-custom position-relative">
  <ng-select class="form-group w-100 disable-arrow mb-0"
             [dropdownPosition]="dropDownPosition"
             [items]="categoryItemNodes"
             bindLabel="name"
             placeholder="Kategória"
             [clearable]="false"
             [searchable]="true"
             [(ngModel)]="categoryItemNode"
             groupBy="parentName"
             (change)="selectCategory($event)">
    <ng-template ng-optgroup-tmp let-item="item">
      {{item.parentName || 'Unnamed group'}}
    </ng-template>
  </ng-select>
</div>
