<form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="onSubmit()" *ngIf="item">
  <div class="row mb-4">
    <div class="col d-flex justify-content-between">
      <h1>Edit položky</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Súhrnné info</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Názov položky" formControlName="title">
        <mat-error *ngIf="f.title.errors">Názov položky je <strong>pozadovany</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <mat-select placeholder="Typ" formControlName="type">
          <mat-option value="service">
            Služba
          </mat-option>
          <mat-option value="product">
            Produkt
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <ng-select class="form-group w-100 mb-0"
                 [multiple]="false"
                 [items]="categories"
                 bindLabel="name"
                 placeholder="Kategória"
                 formControlName="category"
      >
      </ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Popis</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Krátky popis" formControlName="shortDescription">
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field class="form-group w-100">
        <textarea
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          matInput placeholder="Dlhý popis" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row align-items-end mb-3">
    <div class="col-md-4 form-group">
      <app-photo-uploader [formGroup]="formGroup" nameAttr="previewUrl" path="item" title="Obrázok položky"></app-photo-uploader>
    </div>

    <div class="col-md-4 form-group">
      <mat-form-field class="form-pack-price-offer-create w-100">
        <ngx-mat-file-input (change)="uploadHelper.uploadFile($event.target.files)" placeholder="Súbory položky" multiple></ngx-mat-file-input>
        <mat-icon matSuffix class="cursor-pointer">image</mat-icon>
      </mat-form-field>

      <app-file class="mb-3" [files]="item.files" deleteFile="true"></app-file>
    </div>
  </div>

<!--    <div class="col-md-4">
      <mat-form-field class="form-pack-price-offer-create w-100">
        <ngx-mat-file-input placeholder="Galéria položky" multiple></ngx-mat-file-input>
        <mat-icon matSuffix>collections</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-pack-price-offer-create w-100">
        <ngx-mat-file-input  placeholder="Súbory položky"></ngx-mat-file-input>
        <mat-icon matSuffix>add</mat-icon>
      </mat-form-field>
    </div>-->

  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Výrobca" formControlName="manufacturer">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <app-select-new-contact formControlName="supplier"></app-select-new-contact>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Link" formControlName="web">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Jednotka" formControlName="unit">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Kód (SKU)" formControlName="code">
      </mat-form-field>
    </div>

  <!--  <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Súvisiace položky">
      </mat-form-field>
    </div>-->
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Vlastnosti položky</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Rozmery" formControlName="dimensions">
      </mat-form-field>
    </div>

    <div class="col-md-4 form-group">
      <mat-checkbox checked="checked" class="text-gray" formControlName="isPartOfSet">Položka je súčasťou celku</mat-checkbox>
    </div>

    <div class="col-md-4 form-group">
      <mat-checkbox checked="checked" class="text-gray" formControlName="needMontage">Položka vyžaduje montáž</mat-checkbox>
    </div>
  </div>

  <div class="row mt-1 mt-md-0">
    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <mat-select placeholder="Cenová úroveň" formControlName="priceLevel">
          <mat-option value="basic">
            Základná
          </mat-option>
          <mat-option value="middle">
            Stredná
          </mat-option>
          <mat-option value="hard">
            Vyššia
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Model" formControlName="model">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="form-group w-100">
        <input matInput placeholder="Séria" formControlName="series">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ng-select class="form-group w-100" [items]="colors"
                 formControlName="color"
                 placeholder="Farba"
                 [clearable]="false">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item}}</span></div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-6">
      <ng-select class="form-group w-100" [items]="material"
                 formControlName="material"
                 placeholder="Materál"
                 [clearable]="false">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span>{{item}}</span></div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom-2 pb-2 mb-4">Cena položky</h2>
    </div>
  </div>

  <app-item-price [itemPriceForm]="formGroup"></app-item-price>

  <div class="row">
    <div class="col-md-12 text-right">
      <button routerLink="/paginate/items" mat-stroked-button class="btn-icon btn-theme-stroked mr-3">
        <mat-icon>cancel</mat-icon>
        Zrušiť
      </button>
      <app-spinner-button [loading]="isLoading"></app-spinner-button>
    </div>
  </div>
</form>
