<div class="row pb-3 mb-3">
  <div class="col-12">
    <h1>Úlohy</h1>
  </div>
  <div class="col-12">
    <button *ngIf="!create" (click)="openNewList()" mat-stroked-button class="btn-theme-stroked mr-3">
      Pridať nový zoznam úloh
    </button>
  </div>
</div>
<div *ngIf="create" class="pb-3 mb-3">
  <app-todolist-create></app-todolist-create>
</div>
  <div class="row todos-wrap" *ngIf="projects.length">
    <div class="col-md-2 mb-3" *ngFor="let project of projects">
      <mat-card class="example-card" [style.background-color]="project.color" [routerLink]="['/todo/todolist', project.projectId]">
        <mat-card-header class="d-flex align-items-center">
          <mat-card-title class="mb-0">{{project.projectName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <div class="todo-avatar-wrap">
            <ng-container *ngIf="project.users">
            <span class="todo-users-wrap">
              <span class="d-inline-flex align-items-center" *ngFor="let item of project.users">
                <ngx-avatar [src]="item?.userPhotoUrl" size="40" name="{{item?.userName}}" title="{{item?.userName}}" class="mr-2"></ngx-avatar>
              </span>
            </span>
            </ng-container>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
