<div class="container d-flex justify-content-center align-items-center min-height-100vh">
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <img class="mb-5" src="assets/img/illustration/undraw_press_play_bx2d.svg" alt="login">
      <form [formGroup]="loginForm" action="" autocomplete="off" (ngSubmit)="onsubmit()">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <input matInput type="email" formControlName="email" required placeholder="E-mail"/>
              <mat-error *ngIf="f.email.errors">E-mail is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <input type="password" matInput name="password" formControlName="password" required placeholder="Heslo"/>
              <mat-error *ngIf="f.password.errors">Password is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>
        <button class="btn btn-primary btn-big w-100 font-weight-bold mt-5 text-white">Prihlásiť sa</button>
        <a class="btn  btn-big w-100 font-weight-bold mt-2 text-theme" routerLink="/auth/reset-password">Zabudnuté heslo</a>
      </form>
    </div>
  </div>
</div>
