<div class="row">
  <div class="col-md-12 mb-3" style="margin-top: -75px">
    <app-price-offer-filter (onFilter)="filterData($event)" [filterData]="service.filter"></app-price-offer-filter>
  </div>
  <div class="col-md-12">
    <h3 class="text-gray mb-3">Zvolené kalkulácie: <span class="text-theme">{{totalPrice | currency:'EUR':'symbol'}}</span></h3>
    <div class="table-wrap">
      <div class="position-relative">
        <div class="loading-shade" *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <table mat-table [dataSource]="data" class="table-hover table-data table-borderless w-100">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Číslo</th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>

          <!-- Client Column -->
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Klient</th>
            <td mat-cell
                *matCellDef="let element"> {{element.contact ? element.contact.name : 'Klient nebol priradeny'}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Projekt</th>
            <td class="max" mat-cell *matCellDef="let element"> {{element.project?.title || 'Projekt nebol priradeny'}} </td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="created">
            <th class="text-right" mat-header-cell *matHeaderCellDef> Vytvorené</th>
            <td class="text-right" mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd.MM.y'}} </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="state">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Stav</th>
            <td class="text-center" mat-cell *matCellDef="let element">
              <span [matTooltip]="element.state | lowercase | translate | titlecase" *ngIf="element.state" [ngClass]="'bg-' + element.state | lowercase" class="custom-badge text-white">{{element.state | lowercase | translate | uppercase | slice:0:1 }}</span>
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th class="text-right" mat-header-cell *matHeaderCellDef> Suma <span appShowHideTax>bez DPH</span></th>
            <td class="text-right" mat-cell *matCellDef="let element">{{element.price | removePercent: element.discount | currency:'EUR':'symbol'}}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th class="text-right p-0 max" mat-header-cell *matHeaderCellDef></th>
            <td class="text-right action-link pr-0 max" mat-cell colspan="3" *matCellDef="let element">
              <div class="invisible">
                <button
                  [routerLink]="['/price-offer/edit', element.id]"
                  mat-icon-button
                  matTooltip="Edit item">
                  <mat-icon class="text-theme">edit</mat-icon>
                </button>
                <button
                  (click)="destroy($event, element.id)"
                  mat-icon-button
                  matTooltip="Delete item">
                  <mat-icon class="text-theme">delete</mat-icon>
                </button>

                <button onclick="event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu" class="menu-not-rounded">
                  <button mat-menu-item (click)="pdf($event, element.id, element.title)">
                    <mat-icon>save_alt</mat-icon>
                    <span>Stiahnuť PDF</span>
                  </button>

                  <button mat-menu-item [routerLink]="['/price-offer/create', element.id]">
                    <mat-icon>file_copy</mat-icon>
                    <span>Duplikovať</span>
                  </button>

                  <button mat-menu-item [routerLink]="['/invoice/create-from-proforma', 'INVOICE', element.id]">
                    <mat-icon>text_snippet</mat-icon>
                    <span>Vystaviť ostrú faktúru</span>
                  </button>

                  <button mat-menu-item [routerLink]="['/invoice/create-from-proforma', 'PROFORMA', element.id]">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Vystaviť zálohovú faktúru</span>
                  </button>
                </mat-menu>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="cursor-pointer" [routerLink]="['/price-offer/show', row.id]" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 20, 100]" [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"></mat-paginator>
      </div>
    </div>
  </div>
</div>
